@{
    ViewBag.Title = "CreateIndent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<input type="hidden" value="@ViewBag.IndentId" id="hdnIndentId" />
<div class="pagetitle gap-bottom d-flex justify-content-between">
    <h1 class="m-0 d-flex align-items-center">
        <a href="/MaterialManagement/Material/IndentIndex?auth=@ViewBag.Auth"><img src="~/assets/images/icons/help/back-icon.png" class="headingicon"></a> <span id="pIndentNumber">Create Indents</span> <div class="ml-3"></div>

    </h1>
    <div class="align-self-center">
        <div class="d-flex justify-content-between align-items-center gap-10">

        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6 form-group ">
        <div class="card br-none p-0 h-100 ">

            <div class="card-header d-flex justify-content-between bg-none ">
                <h2 class="title-two align-self-center">Raised By</h2>
                <div class="align-self-center"></div>
            </div>

            <div class="card-body view-form-group">
                <div class="row">
                    <div class="col-md-6 col-sm-6  form-group">
                        <label for="" class="readonlay">Name</label>
                        <p id="pRaisedBy"></p>
                    </div>
                    <div class="col-md-6 col-sm-6 form-group">
                        <label for="" class="readonlay">Department</label>
                        <p id="pRaisedDept"></p>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="col-md-6 form-group">
        <div class="card br-none p-0 h-100">

            <div class="card-header d-flex justify-content-between bg-none ">
                <h2 class="title-two align-self-center">Primary Document Details</h2>
                <div class="align-self-center"></div>
            </div>

            <div class="card-body view-form-group">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6 form-group align-self-end ">
                        <label for="role">Series</label>
                        <select class="form-control applyselect" id="ddlSeries" onchange="SetDocNumber(this)">
                        </select>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 form-group align-self-end ">

                        <label for="" class="readonlay">Document Number</label>
                        <input type="text" id="txtDocNo" class="form-control" name="itemcode">
                    </div>

                    <div class="col-lg-4 col-md-12 col-sm-12 form-group align-self-end">
                        <label class="readonlay">Document Date</label>
                        <input type="text" id="txtDocDate" class="form-control" placeholder="" readonly="">
                    </div>

                    @*<div class="col-lg-4 col-md-12 col-sm-12 form-group align-self-end">
                            <div class="autocomplete-wrapper" style="position: relative;">
                                <label for="itemname" class="search-label">
                                    <img src="../../../assets/images/icons/help/search-icon.png" class="icon-sm" />
                                </label>
                                <input type="text" class="form-control searchlist" id="itemname" placeholder="Type item..." autocomplete="off" />
                                <ul id="globalSuggestionBox" class="suggestions"></ul>

                            </div>
                        </div>*@
                </div>

            </div>
        </div>
    </div>

    <div class="col-md-12 form-group">
        <div class="card br-none p-0 col-default-bottom mb-0">

            <div class="card-header d-flex justify-content-between bg-none ">
                <h2 class="title-two align-self-center">Items Information</h2>
                <div class="align-self-center"></div>
            </div>

            <div class="card-body view-form-group pl-0 pr-0">
                <div class="table-responsive sticky-responsive">
                    <table id="datatableIndent" class="display stickyth   dgntable dataTable no-footer radius-0 itemsinformation">
                        <thead>
                            <tr>
                                <th width="50" class="text-center">Action</th>
                                <th width="150" class="text-left">Item Code</th>
                                <th width="150" class="text-left">Item Name</th>
                                <th width="160" class="text-left">Item Description</th>
                                <th width="80" class="text-left">Quantity</th>
                                <th width="50" class="text-left">UoM</th>
                                <th width="130" class="text-left">Required by</th>
                                <th width="200" class="text-left">Comment</th>

                            </tr>
                        </thead>
                        <tbody id="tableToModify">
                            <tr>
                                <td class="text-center">
                                    <div id="addrow" class="cursor-pointer"><img style="pointer-events: none;" src="~/assets/images/icons/help/add.svg" alt="" data-toggle="tooltip" title="Add" /></div>
                                    <input type="hidden" id="hdnIndentDetailId_0" />
                                </td>
                                <td>

                                    <div class="autocomplete-wrapper" style="position: relative;">
                                        <label for="ddlI_0" class="search-label">
                                            <img src="../../../assets/images/icons/help/search-icon.png" class="icon-sm" />
                                        </label>
                                        <input type="text" class="form-control searchlist Mandate" id="ddlI_0" oninput="Getdata(this)" onclick="Getdata(this)" placeholder="Type item..." autocomplete="off" />
                                        <span id="spddlI_0" class="text-danger field-validation-error" style="display:none;">Hey, You missed this field!!</span>
                                        <ul id="globalSuggestionBox_0" class="suggestions"></ul>
                                        <input type="hidden" id="ddlItem_0" />
                                    </div>

                                </td>
                                <td>
                                    <label class="lblItemName" id="lblItemName_0"></label>
                                </td>
                                <td> <label class="lblItemName" id="lblItemDesc_0"></label></td>
                                <td>
                                    <input type="number" id="txtQuantity_0" class="form-control text-right MandateWithoutZero" value="" placeholder="0" oninput="HideErrorMessage(this),SetZero(this)">
                                    <span id="sptxtQuantity_0" class="text-danger field-validation-error" style="display:none;">Hey, You missed this field!!</span>
                                </td>
                                <td class="text-center"><label class="lblItemName" id="lblUnit_0"></label></td>
                                <td>
                                    <div class="input-group">
                                        <input type="text" id="txtExpectedDate_0" class="datepicker form-control" placeholder="DD/MM/YYYY" readonly="" onchange="HideErrorMessage(this)">
                                        <span class="clear-date">×</span>
                                        <div class="input-group-append ">
                                            <span class="input-group-text bg-white"><img src="~/assets/images/icons/help/calendar-icon.svg" alt=""></span>
                                        </div>
                                        <span id="sptxtExpectedDate_0" class="text-danger field-validation-error" style="display:none;">Hey, You missed this field!!</span>
                                        <span id="spValidationtxtExpectedDate_0" class="text-danger field-validation-error" style="display:none;">Hey,Required by should be greater or equal to current date!</span>
                                    </div>

                                </td>
                                <td>
                                    <textarea maxlength="250" id="txtRemark_0" placeholder="Enter Text" class="form-control" oninput="HideErrorMessage(this)"></textarea>
                                    <span id="sptxtRemark_0" class="text-danger field-validation-error" style="display:none;">Hey, You missed this field!!</span>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <div class="col-lg-4 col-md-6 form-group">
        <div class="card br-none p-0  ">
            <div class="card-header d-flex justify-content-between bg-none ">
                <h2 class="title-two align-self-center">Upload Document</h2>
                <div class="align-self-center"></div>
            </div>
            <div class="card-body  view-form-group">
                <div class="section-container section-container-popup">
                    <div class="fileuploadview drag-area">
                        <div class="uploadicon_text file-input-button">
                            <div class="uploadicon">
                                <img src="~/assets/images/icons/help/fileupload-icon.svg" alt="">
                            </div>
                            <div class="uploadtext drag-file">
                                <h4>Drop files here or click to upload</h4>
                                <h6>This is a dropzone, drop files or click to browse</h6>
                                <span class="error">The file size should be upto 2MB,<br /> with a maximum of 10 attachments.</span>
                            </div>
                        </div>
                        <input type="file" id="fileIndent" class="file-input hidden" multiple />
                        <div id="documentImages" class="document-images"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 form-group">
        <div class="card br-none p-0 h-100">
            <div class="card-header d-flex justify-content-between bg-none ">
                <h2 class="title-two align-self-center">Comment</h2>
                <div class="align-self-center"></div>
            </div>
            <div class="card-body">
                <textarea maxlength="250" id="txtComments" class="form-control h-cm Mandate" rows="5" placeholder="Enter" onchange="HideErrorMessage(this)"></textarea>
                <span id="sptxtComments" class="text-danger field-validation-error" style="display:none;">Hey, You missed this field!!</span>
            </div>
        </div>
    </div>

    <div class="col-lg-5 col-md-12 form-group align-self-end justify-content-end align-items-center d-flex gap-10">
        <a href="/MaterialManagement/Material/IndentIndex?auth=@ViewBag.Auth" class="btn btn-lg cancelbtn">Cancel</a>
        <button type="button" class="btn btn-lg actionbtn" id="btnSaveIndent" onclick="SaveIndentData()">Save</button>
    </div>

</div>






<!--  -->
<!-- Popup Modal for File Limit -->
<div id="fileLimitPopup" class="popup-modal">
    <div class="popup-content">
        <p id="popup-message"></p>
        <button id="close-popup"><img src="~/assets/images/icons/help/close.svg" alt=""></button>
    </div>
</div>
<script src="~/Areas/MaterialManagement/DevScript/fileupload_Material.js"></script>
<script src="~/Areas/MaterialManagement/DevScript/indents-row.js"></script>
<script src="~/Areas/MaterialManagement/DevScript/CreateIndent.js"></script>
<script>

    var isDuplicate = "@ViewBag.isDuplicate"

    $(function () {
        $('[data-toggle="tooltip"]').tooltip({
            container: 'body',
            placement: 'top',
            html: true,
            boundary: 'window'
        });
    });

</script>