
@{
    ViewBag.Title = "GateEntry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- page title -->
<div class="pagetitle gap-bottom d-flex flex-wrap justify-content-between gap-10">
    <h1 class="m-0 d-flex  align-self-item align-items-center  ">
        Gate Entry<div class="ml-2">
            <svg data-toggle="tooltip" title="This page shows list of all the Gate Entry" width="18" height="18" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_423_173595)"><path d="M10.0001 18.3334C14.6025 18.3334 18.3334 14.6025 18.3334 10.0001C18.3334 5.39771 14.6025 1.66675 10.0001 1.66675C5.39771 1.66675 1.66675 5.39771 1.66675 10.0001C1.66675 14.6025 5.39771 18.3334 10.0001 18.3334Z" stroke="#25282B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path><path d="M10 13.3333V10" stroke="#25282B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path><path d="M10 6.66675H10.0083" stroke="#25282B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path></g><defs><clipPath id="clip0_423_173595"><rect width="20" height="20" fill="white"></rect></clipPath></defs></svg>
        </div>
    </h1>
    <div class="align-self-center w-100-sm d-flex flex-wrap gap-10 ">
        <a href="/MaterialManagement/Material/CreateGateEntry?auth=@ViewBag.Auth" class="btn actionbtn border-r-8 w-100-sm"><img src="../../assets/images/icons/help/add-white-icon.png" class="btn-icon">Create Gate Entry</a>
        @*<a href="" class="btn  actionbtn border-r-8 d-none-sm w-100-sm"><img src="../../assets/images/icons/help/view-white-icon.png" class="btn-icon">View Previous Gate Entries</a>*@
    </div>
</div>

@*<div class="col-lg-2 col-md-4 col-sm-4 ml-auto form-group">
    <div class="d-flex gap-5 justify-content-end">
        <a href="#" class="btn border-r-8" data-toggle="tooltip" id="exportExcel" title="Download Excel Report"><img src="~/assets/images/icons/help/filter/download-icon.svg" class="btn-icon m-0"></a>
        <div class="searchbox">

            <div class="search w-350">
                <label class="icon" for="globalSearch"><img src="../../assets/images/icons/help/search-icon.png" class="icon-sm"></label>
                <input type="text" id="globalSearch" class="form-control d-inline-block" placeholder="Global Search...">
            </div>

        </div>

    </div>
    </div>*@


<!--  -->

<div class="white-bg third-container">

    <!--  -->
    <div class="table-responsive">
        <table id="tblGateEntry" class="display rstable dgntable  single-sort dataTable no-footer">
            <thead>
                <tr>
                    @*<th width="50">Serial No.</th>*@
                    <th width="150">Document No.</th>
                    <th width="100">Document Date</th>
                    <th width="80">Gate Entry No.</th>
                    <th width="80">Invoice No.</th>
                    <th width="70">Invoice Date</th>
                    <th width="100">Material Category</th>
                    <th width="70">Client Material</th>
                    <th width="100">Business Partner</th>
                    <th width="35">Action</th>
                </tr>
                <tr class="searchfilter">
                    @*<th></th>*@
                    <th>
                        <div class="filterdgn">
                            <input type="text" class="filter-input" id="txtDocNumber"
                                   placeholder="Search"> <label for="search" class="m-0">
                                <img src="~/assets/images/icons/help/search-icon.png"
                                     class="filtersearchincon" />
                            </label>
                        </div>
                    </th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>

        </table>
    </div>

    @*Grid with Scrollable Area*@
    <!--<div class="grid-wrapper" style="padding-top: 40px">
        <div id="myGrid" class="ag-theme-alpine agrid-dgn" style="height: 600px"></div>
    </div>-->

</div>



@*Ag Grid Scripts Start
    <link href="~/css/Aggrid/Aggrid1.css" rel="stylesheet" />
    <link href="~/css/Aggrid/Aggrid2.css" rel="stylesheet" />
    <link href="~/css/aggrid/ag-grid.css" rel="stylesheet" />
    <link href="~/css/aggrid/ag-theme-alpine.css" rel="stylesheet" />
    <script src="~/CommonJS/AgGrid/dist_aggrid_community.js"></script>
    <script src="~/CommonJS/AgGrid/aggridCom.min.js"></script>
    <script src="~/CommonJS/AgGrid/autotable.umd.min.js"></script>
    <script src="~/assets/js/jquery.dataTables.min.js"></script>
    <script src="~/CommonJS/AgGrid/jspdf.umd.min.js"></script>
    <script src="~/CommonJS/AgGrid/libs.umd.min.js"></script>
    <script src="~/assets/js/jquery.dataTables.min.js"></script>
    <script src="~/CommonJS/GenericAgGrid.js"></script>
    Ag Grid Scripts End*@


<script src="~/Areas/MaterialManagement/DevScript/GateEntry/GateEntry.js"></script>