
@{
    ViewBag.Title = "View Item Master";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="pagetitle gap-bottom d-flex justify-content-between">
    <h1 class="m-0 d-flex align-items-center">
        <a href="/MaterialManagement/Material/BindItemMasterList?auth=@ViewBag.Auth"><img src="~/assets/images/icons/help/back-icon.png" alt="" class="headingicon"></a><span id="itemNameh"></span><div class="ml-3"></div>
    </h1>
    <div class="align-self-center">
        <div class="d-flex justify-content-between align-items-center gap-10">
            <a href="/MaterialManagement/Material/ItemMaster?auth=@ViewBag.Auth&itemId=@ViewBag.itemId" class="btn actionbtn border-r-8">
                <img src="~/assets/images/icons/help/edit-white-icon.png" alt="" class="btn-icon" />Edit
            </a>
            <a href="/MaterialManagement/Material/StockLedger?auth=@ViewBag.Auth&itemId=@ViewBag.itemId" class="btn actionbtn border-r-8">View History</a>
            <input type="hidden" id="hdnItemMasterId" value="@ViewBag.itemId" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 card-mb">

        <div class="card br-none p-0">
            <div class="card-header border-top-RL header-active br-none  d-flex justify-content-between ">
                <h2 class="title-two align-self-center">Item Information</h2>
                <div class="align-self-center"></div>
            </div>
            <div class="card-body view-form-group">
                <div class="row">
                    <div class="col-lg-9  col-md-12 col-sm-12">
						<div class="row">
							<div class="col-lg-3 col-md-4 col-sm-6 form-group">
								<label>Category</label>
								<p class="m-0" id="category"></p>
							</div>

							<div class="col-lg-2 col-md-4 col-sm-4 form-group">
								<label>Item Code</label>
								<p class="m-0" id="itemCode"></p>
							</div>
							<div class="col-lg-3 col-md-4 col-sm-6 form-group">
								<label>Item Name</label>
								<p class="m-0" id="itemName"></p>
							</div>

							<div class="col-lg-4 col-md-4 col-sm-6 form-group">
								<label>Item Description</label>
								<p class="m-0" id="itemDescription"></p>
							</div>

							<div class="col-lg-3 col-md-4 col-sm-6 form-group">
								<label>Sub category</label>
								<p class="m-0" id="subcategory"></p>
							</div>
							<div class="col-lg-2 col-md-4 col-sm-4 form-group">
								<label>HSN Code</label>
								<p class="m-0" id="hsnCode"></p>
							</div>

							<div class="col-lg-3 col-md-4 col-sm-4  form-group">
								<label>Default Warehouse </label>
								<p class="m-0" id="defaultWarehouse"></p>
							</div>

							<div class="col-lg-4 col-md-4 col-sm-4  form-group">
								<label>Transaction Type </label>
								<p class="m-0" id="transactionType"></p>
							</div>
						</div>
                    </div>

                    <div class="col-lg-3 col-md-12 col-sm-12">
                        <div class="row">
                            <div class="col-lg-6 col-md-4 col-sm-4  form-group">
                                <label>Status</label>
                                <p class="m-0" id="status"></p>
                            </div>

                            <div class="col-lg-6 col-md-4 col-sm-4  form-group">
                                <label>Batch Applicable</label>
                                <p class="m-0" id="batchApplicable"></p>
                            </div>

                            <div class="col-lg-6 col-md-4 col-sm-4  form-group" id="divUserType" style="display:none;">
                                <label for="">QC Applicable</label>
                                <p class="m-0" id="lblMicrobilogicalTestRequired"></p>
                            </div>

                            @*<div class="col-lg-6 col-md-4 col-sm-4  form-group">
                                <label for="">Microbiological Test Required?</label>
                                <p class="m-0">Yes</p>
                            </div>*@

                            <div class="col-md-6 col-sm-6 form-group ">
                                <label for="" class="d-flex gap-5">QC Test Mapping <span class="label-button" data-toggle="modal" data-target="#qctestmapping"><img src="~/assets/images/icons/help/eye-on-icon.png" class="label-icon cursor-pointer" data-toggle="tooltip" title="Show QC Mapping" alt="" onclick="ShowQCMapping()"></span></label>
                                @*<p class="text-p">RM20250001</p>*@
                            </div>

                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>


    <div class="col-lg-6 card-mb">
        <div class="card br-none p-0">
            <div class="card-header border-top-RL header-active br-none  d-flex justify-content-between ">
                <h2 class="title-two align-self-center">Unit of Measure</h2>
                <div class="align-self-center"></div>
            </div>
            <div class="card-body view-form-group">
                <div class="row">
                    <div class="col-md-4 col-sm-4 align-self-end">
                        <label>Base Unit</label>
                        <p class="m-0" id="baseUnit"></p>
                    </div>
                    <div class="col-md-4 col-sm-4 align-self-end">
                        <label>Alternate Unit</label>
                        <p class="m-0" id="alternateUnit"></p>
                    </div>

                    <div class="col-md-4 col-sm-4 align-self-end">
                        <label>Conversion Factor</label>
                        <p class="m-0" id="conversionFactor"></p>
                    </div>


                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-6 card-mb">
        <div class="card br-none p-0">
            <div class="card-header border-top-RL header-active br-none  d-flex justify-content-between ">
                <h2 class="title-two align-self-center">Pricing</h2>
                <div class="align-self-center"></div>
            </div>
            <div class="card-body view-form-group">
                <div class="row">
                    <div class="col-md-6 col-sm-6 align-self-end">
                        <label for="" class="d-flex gap-5">Tax Code 
                        @*<span class="label-button" data-toggle="modal" data-target="#taxmapping"><img src="/assets/images/icons/help/eye-on-icon.png" class="label-icon cursor-pointer" data-toggle="tooltip" title="View Tax Code" alt=""></span>*@
                        </label>

                        <p class="class=" text-p"m-0" id="taxCode"></p>
                    </div>
                    <div class="col-md-3 col-sm-3 align-self-end">
                        <label>Purch Rate </label>
                        <p class="m-0" id="purchRate"></p>
                    </div>
                    <div class="col-md-3 col-sm-3 align-self-end">
                        <label>Sale Rate </label>
                        <p class="m-0" id="saleRate"></p>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 card-mb">
        <div class="card br-none p-0">
            <div class="card-header border-top-RL header-active br-none  d-flex justify-content-between ">
                <h2 class="title-two align-self-center">Inventory Information</h2>
                <div class="align-self-center"></div>
            </div>
            <div class="card-body view-form-group">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-6 align-self-end">
                        <label>Min. Stock Lvl.</label>
                        <p class="m-0" id="minStockLevel"></p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 align-self-end">
                        <label>Max. Stock Lvl.</label>
                        <p class="m-0" id="maxStockLevel"></p>
                    </div>

                    <div class="col-lg-4  col-md-4 col-sm-6 align-self-end">
                        <label>Safety Stock Lvl.</label>
                        <p class="m-0" id="safetyStockLevel"></p>
                    </div>


                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-6 card-mb">
        <div class="card br-none p-0">
            <div class="card-header border-top-RL header-active br-none  d-flex justify-content-between ">
                <h2 class="title-two align-self-center">Purch/Sale Account</h2>
                <div class="align-self-center"></div>
            </div>
            <div class="card-body view-form-group">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <label>Purch Account Name</label>
                        <p class="m-0" id="purchAccountName"></p>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <label>Sale Account Name</label>
                        <p class="m-0" id="saleAccountName"></p>
                    </div>


                </div>
            </div>
        </div>
    </div>




    <div class="col-lg-12 card-mb">
        <div class="card br-none p-0">
            <div class="card-header border-top-RL header-active br-none  d-flex justify-content-between ">
                <h2 class="title-two align-self-center">Procurement Information</h2>
                <div class="align-self-center"></div>
            </div>
            <div class="card-body view-form-group">
                <div class="row">
                    <div class="col-lg-2 col-md-4 col-sm-4 ">
                        <label>Preferred Supplier</label>
                        <p class="m-0" id="preferredSupplier"></p>
                    </div>
                    <div class="col-lg-1  col-md-4 col-sm-4">
                        <label>Lead Time</label>
                        <p class="m-0" id="leadTime"></p>
                    </div>

                    <div class="col-lg-1  col-md-4 col-sm-4">
                        <label>Pack Size</label>
                        <p class="m-0" id="packSize"></p>
                    </div>
                    <div class="col-lg-1  col-md-4 col-sm-4">
                        <label>Tolerance %</label>
                        <p class="m-0" id="tolerance"></p>
                    </div>
                    <div class="col-lg-2  col-md-4 col-sm-4">
                        <label>Principle Brand Type</label>
                        <p class="m-0" id="brandType"></p>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <div class="col-lg-12 card-mb">
        <div class="card br-none p-0  ">
            <div class="card-header border-top-RL header-active br-none  d-flex justify-content-between  ">
                <h2 class="title-two align-self-center">Upload</h2>
                <div class="align-self-center"></div>
            </div>
            <div class="card-body view-form-group">
                <div class="row">
                    <div class="col-sm-4">
                        <label>Material Photo Upload</label>
                        <p class="m-0 nofile" id="NoUploadFile1">No Upload</p>
                        <div class="section-container fileuploadview section-container-popup ">
                            @*<p class="m-0 nofile">No Uploads</p>*@
                            <div class="document-images hidden" id="ShowUploadFile1">
                                <div id="documentImages1" class="document-images"></div>

                            </div>
                        </div>

                    </div>
                    <div class="col-sm-4">
                        <label>Material COA Upload</label>
                        <p class="m-0 nofile" id="NoUploadFile2">No Upload</p>
                        <div class="section-container fileuploadview  section-container-popup ">
                            <!--  -->
                            <div class="document-images hidden" id="ShowUploadFile2">
                                <div id="documentImages2" class="document-images"></div>
                            </div>
                            <!--  -->
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <label>Attachment</label>
                        <p class="m-0 nofile" id="NoUploadFile3">No Upload</p>
                        <div class="section-container fileuploadview section-container-popup ">
                            @*<p class="m-0 nofile">No Uploads</p>*@
                            <div class="document-images hidden" id="ShowUploadFile3">
                                <div id="documentImages3" class="document-images"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<!-- QC Test Mapping -->
<div class="modal fade drawer right-align" id="qctestmapping" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header side-header justify-content-between d-flex">
                <h2 class="modal-title">View QC Test Mapping</h2>
                <img src="/assets/images/icons/help/close-white-icon.png" class="cursor-pointer align-self-center close" data-dismiss="modal" />
            </div>
            <div class="modal-body mb-100">
                <!-- open -->

                <div class="row">

					<div class="col-sm-12 form-group">
						<p class="mb-2">Please Select the Quality Parameters needed for the QC Check of this item.</p>
						<div class="table-responsive sticky-responsive">
							<table class="display stickyth  dgntable no-footer radius-0 dataTable itemsinformation" style="table-layout:fixed;">
								<thead>
									<tr>

										<th width="150">Test Name</th>
										<th width="100">Result Type</th>
										<th width="60">Measuring <span class="d-block">Unit</span></th>
										<th width="100">Approved Range</th>
									</tr>
								</thead>
								<tbody id="tblItemQCDet">
									@*<tr>
						                <td>Density</td>
						                <td>Range</td>
						                <td>1-10</td>
						                <td>1-10</td>

					                </tr>*@
								</tbody>
							</table>
						</div>
					</div>
                    <div class="col-sm-12 form-group">
                        <label>Is Microbiology test required</label>
                        <p class="p-0">
                            <label class="pure-material-switch ">
                                <input id="isMandatory" type="checkbox"  disabled>
                                <span class="m-0"></span>
                            </label>
                        </p>
                    </div>
					<div id="divMicrobiologyTests" class="col-sm-12 form-group">
						<p class="mb-2">Please Select the Microbiology Tests needed for the QC Check of this item.</p>
						<div class="table-responsive sticky-responsive">
							<table id="tblMicrobiologyTests" class="display stickyth dgntable no-footer radius-0 dataTable itemsinformation" style="table-layout:fixed;">
								<thead>
									<tr>
										<th width="150">Test Name</th>
										<th width="100">Result Type</th>
										<th width="60">Measuring <span class="d-block">Unit</span></th>
										<th width="100">Approved Range</th>
									</tr>
								</thead>
								<tbody id="tblItemMicrobiologyDet">
									@*<tr>
						                d>Range</td>
						                <td><td>Material Velocity</td>
						                <t150-200</td>
						                <td>150-200</td>
					                </tr>
									*@
								</tbody>
							</table>
						</div>
					</div>
                </div>
            </div>
          
        </div>
    </div>
</div>



<!-- Manage Currency Conversion -->
<div class="modal fade drawer right-align" id="taxmapping" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header side-header justify-content-between d-flex">
                <h2 class="modal-title">View Tax Mapping</h2>
                <img src="/assets/images/icons/help/close-white-icon.png" class="cursor-pointer align-self-center close" data-dismiss="modal" />
            </div>
            <div class="modal-body mb-100">
                <!-- Error Message Section -->
                <div id="error-message" class="alert alert-danger" style="display: none;">
                    <strong>Error!</strong> <span id="error-text"></span>
                </div>

                <!-- Tax Mapping Table -->
                <div class="table-responsive">
                    <table class="display stickyth  dgntable no-footer radius-0 dataTable itemsinformation" id="edittablecc">
                        <thead>
                            <tr>
                                <th width="180">Charge Type</th>
                                <th>Charge Name</th>
                                <th width="100">Rate</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>CST	</td>
                                <td>SGST Exempted</td>
                                <td class="text-right">1000</td>
                            </tr>
                            <tr>
                                <td>CST	</td>
                                <td>SGST Exempted</td>
                                <td class="text-right">1000</td>
                            </tr>
                        </tbody>

                    </table>
                </div>
                <!-- End -->

            </div>
            <div class="side-footer">
                <button type="button" class="btn btn-lg  cancelbtn" data-dismiss="modal">CANCEL</button>
            </div>
        </div>
    </div>
</div>

<script src="~/Areas/MaterialManagement/DevScript/ViewItem.js"></script>

