
@{
    ViewBag.Title = "StockLedger";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- page title -->
<style>

    .ag-header-group-cell:not(.ag-column-resizing) + .ag-header-group-cell:not(.ag-column-hover):not(.ag-header-cell-moving):hover, .ag-header-group-cell:not(.ag-column-resizing) + .ag-header-group-cell:not(.ag-column-hover).ag-column-resizing, .ag-header-cell:not(.ag-column-resizing) + .ag-header-cell:not(.ag-column-hover):not(.ag-header-cell-moving):hover, .ag-header-cell:not(.ag-column-resizing) + .ag-header-cell:not(.ag-column-hover).ag-column-resizing, .ag-header-group-cell:first-of-type:not(.ag-header-cell-moving):hover, .ag-header-group-cell:first-of-type.ag-column-resizing, .ag-header-cell:not(.ag-column-hover):first-of-type:not(.ag-header-cell-moving):hover, .ag-header-cell:not(.ag-column-hover):first-of-type.ag-column-resizing {
        background-color: #44488c !important;
    }

    #customLoader {
        background: rgba(0, 0, 0, 0.7) !important;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .ag-header-cell, .ag-header-group-cell {
        padding: 0px 5px !important;
    }

    .ag-header-group-cell-label, .ag-cell-label-container {
        padding: 0px 0px !important;
    }

    #customLoader img {
        width: 40px;
        height: 40px
    }

    .ag-text-field-input {
        color: #000 !important;
        font-size: 10px !important
    }
    /* Styles for the alert box */
    .custom-alert {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 10px;
        display: none;
        width: auto;
        z-index: 1000;
        overflow: inherit !important;
    }

        .custom-alert .modal-body {
            padding-bottom: 0px;
            overflow: scroll;
            height: 400px;
            overflow-x: hidden;
        }

    .custom-lg {
        width: 630px;
        background: #fff;
        font-size: 10px;
        border-radius: 8px
    }

    .custom-alert table {
        width: 100%;
        border-collapse: collapse;
    }

    .custom-alert th, .custom-alert td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    .custom-alert th {
        background: #2f3261;
        color: #fff;
    }

    .custom-alert th, .custom-alert td {
        border: 1px solid #ddd;
        padding: 2px 5px !important;
        text-align: left;
        word-break: break-all;
        vertical-align: top;
        line-height: 25px;
        font-size: 12px;
        text-transform: lowercase;
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        display: none;
        z-index: 999;
    }
</style>

<ul class="tablink">
    <li><a href="/MaterialManagement/Material/StockStatement?auth=@ViewBag.Auth" class="nav-link  ">Stock Statement</a></li>
    <li><a href="/MaterialManagement/Material/StockLedger?auth=@ViewBag.Auth" class="nav-link active">Stock Ledger</a></li>
    <li><a href="/MaterialManagement/Material/BindItemMasterList?auth=@ViewBag.Auth" class="nav-link">Item Master</a></li>

</ul>

<!--  -->
<!-- Open -->
<input type="hidden" id="hdnRptType" value="@ViewBag.RptType" />
<input type="hidden" id="hdnItemId" value="@ViewBag.ItemId" />
<div class="pagetitle gap-bottom d-flex justify-content-between">
    <h5 class="title-two m-0 align-self-center">Stock Ledger <img src="../../assets/images/icons/help/info-icon.png" alt="info icon" class="icon-sm" data-toggle="tooltip" title="This page shows list of all the stock Ledgers"></h5>
    <div class="align-self-center gap-10 d-flex">

    </div>
</div>

<div class="secondary-light-bg third-container">
    <div class="row table-filter">
        <div class="col-sm-2 form-group">
            <label for="role">From (Date) </label>
            <div class="input-group border-light border-r-8 cursor-pointer">
                <input type="text" class="datepicker form-control b-zero" placeholder="DD/MM/YYYY" value="" id="txtFromDate">
                <span class="clear-date">×</span>
                <div class="input-group-append">
                    <span class="input-group-text bg-white b-zero"><img src="~/assets/images/icons/help/calendar-icon.svg" alt=""></span>
                </div>
            </div>
        </div>
        <div class="col-sm-2 form-group">
            <label for="role">To (Date) </label>
            <div class="input-group border-light border-r-8 cursor-pointer">
                <input type="text" class="datepicker form-control b-zero" placeholder="DD/MM/YYYY" value="" id="txtToDate">
                <span class="clear-date">×</span>
                <div class="input-group-append">
                    <span class="input-group-text bg-white b-zero"><img src="~/assets/images/icons/help/calendar-icon.svg" alt=""></span>
                </div>
            </div>
        </div>
        <div class="col-sm-2 form-group">
            <label for="role">Category </label>
            @*<select class="form-control applyselect" id="ddlCategory" name="Category" onchange="GetStockLedgerRpt()"></select>*@
            <select id="ddlCategory" class="form-control border-r-8 multiple-checkboxes Mandate" multiple="multiple">
            </select>
        </div>
        <div class="col-sm-2 form-group">
            <label for="role">Warehouse </label>
            @*<select class="form-control applyselect" id="ddlWarehouse" name="Warehouse" onchange="GetStockLedgerRpt()"></select>*@
            <select id="ddlWarehouse" class="form-control border-r-8 multiple-checkboxes Mandate" multiple="multiple">
            </select>
        </div>
        <div class="col-sm-2 form-group">
            <label for="role">Item Code/Name </label>
            <select id="ddlItem" class="form-control border-r-8 multiple-checkboxes" multiple="multiple" >
            </select>
        </div>
        <div class="col-sm-2 form-group align-self-end">
            <button type="button" class="btn  actionbtn" onclick="GetStockLedgerRptByItem()">Search</button>
        </div>

        <div class="col-lg-2 col-md-4 col-sm-4 ml-auto form-group align-self-end">
            <div class="d-flex gap-5 justify-content-end">
                <a href="#" class="btn border-r-8" data-toggle="tooltip" id="exportExcel" title="Download Excel Report"><img src="~/assets/images/icons/help/filter/download-icon.svg" class="btn-icon m-0"></a>
                <div class="searchbox  w-350">
                    <div class="search">
                        <label class="icon" for="globalSearch"><img src="../../assets/images/icons/help/search-icon.png" class="icon-sm"></label>
                        <input type="text" id="globalSearch" class="form-control d-inline-block" placeholder="Global Search...">
                    </div>

                </div>
            </div>

            </div>



        </div>

    <!--  -->
    <!--<div class="table-responsive">
        <table id="tblStockLedgerRpt" class="display rstable dgntable">
            <thead>
                <tr>

                    <th width="90">Item Code</th>
                    <th width="150">Item Name</th>
                    <th width="45">UoM</th>
                    <th width="150">Category</th>
                    <th width="160">Warehouse</th>
                    <th width="90">Date</th>
                    <th width="130">Document <span class="d-block">Number</span></th>
                    <th width="90">Movement <span class="d-block">Type</span></th>
                    <th width="90">Receiving <span class="d-block">Qty</span></th>
                    <th width="80">Receiving <span class="d-block">Unit</span></th>
                    <th width="90">Receiving <span class="d-block">Amount</span></th>

                    <th width="70">Issued <span class="d-block">Qty</span></th>
                    <th width="65">Issued <span class="d-block">Unit</span></th>
                    <th width="90">Issued <span class="d-block">Amount</span></th>

                    <th width="80">Balance<span class="d-block">Qty</span></th>
                    <th width="70">Balance<span class="d-block">Unit</span></th>
                    <th width="90">Balance<span class="d-block">Amount</span></th>

                </tr>
                <tr class="searchfilter">

                    <th>
                        <div class="filterdgn">
                            <input type="text" class="filter-input" placeholder="Search" id="txtItemCode">
                            <label for="search" class="m-0"><img src="../../assets/images/icons/help/search-icon.png" class="filtersearchincon" /></label>
                        </div>
                    </th>
                    <th>
                        <div class="filterdgn">
                            <input type="text" class="filter-input" placeholder="Search" id="txtItemName">
                            <label for="search" class="m-0"><img src="../../assets/images/icons/help/search-icon.png" class="filtersearchincon" /></label>
                        </div>
                    </th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>

                    <th></th>
                </tr>
            </thead>-->
    @*<tbody>
            <tr>
                <td>SKU001</td>
                <td>
                    <a href="../item-master/item-details.html" class="d-flex justify-content-between" data-toggle="tooltip" title="Material 123"><strong>Material 123 </strong> <span><img src="../../assets/images/icons/help/edit.png" class="icon-xsm"></span></a></span>
                </td>
                <td>Mtr</td>
                <td>Raw Material</td>
                <td>Warehouse 1</td>
                <td>24/02/2024</td>
                <td>12345</td>
                <td>Adjustment</td>
                <td class="text-right">100</td>
                <td>Mtr</td>
                <td class="text-right">100</td>
                <td class="text-right">100</td>
                <td>Mtr</td>
                <td class="text-right">100</td>
                <td class="text-right">100</td>
                <td>Mtr</td>
                <td class="text-right">100</td>
            </tr>

        </tbody>*@
    <!--</table>
    </div>-->

    <div class="grid-wrapper" style="padding-top: 40px">
        <div id="myGrid" class="ag-theme-alpine agrid-dgn" style="height: 600px"></div>
    </div>

    <!--  -->
    <!--Open  Table -->
    <!-- Close Table -->
</div>

<style>
    #globalSearch {
        display: none
    }

    .ag-header-cell-menu-button:not(.ag-header-menu-always-show) {
        transition: opacity 0.2s;
        opacity: 1;
        color: #fff;
    }

    .ag-icon::before {
        color: #fff;
    }

    .ag-theme-balham .ag-header-cell-label {
        white-space: normal; /* Allow wrapping in header text */
    }

    .ag-theme-balham {
        overflow-x: auto; /* Avoid extra whitespace */
    }


    .ag-header-cell, .ag-header-group-cell {
        padding-left: var(--ag-cell-horizontal-padding);
        padding-right: var(--ag-cell-horizontal-padding);
        background: #44488c;
        color: #fff !important
    }

    .ag-icon-filter {
        font-family: var(--ag-icon-font-family-filter, var(--ag-icon-font-family));
        font-weight: var(--ag-icon-font-weight-filter, var(--ag-icon-font-weight));
        color: #ffffff !important;
    }
    /* Styles for the alert box */
    .custom-alert {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: white;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
        display: none;
        z-index: 1000;
    }

        .custom-alert table {
            width: 100%;
            border-collapse: collapse;
        }

        .custom-alert th, .custom-alert td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        .custom-alert th {
            background-color: #f2f2f2;
        }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        display: none;
        z-index: 999;
    }

    .ag-icon.ag-icon-previous::before {
        content: "\f104"; /* Font Awesome: fa-angle-left */
        font-family: "Font Awesome 6 Free";
        font-weight: 900;
        font-size: 14px;
        color: #333;
    }

    .ag-icon.ag-icon-next::before {
        content: "\f105"; /* Font Awesome: fa-angle-right */
        font-family: "Font Awesome 6 Free";
        font-weight: 900;
        font-size: 14px;
        color: #333;
    }
</style>
<!-- CLose -->
<!--  -->
@*Ag Grid Scripts Start*@
<link href="~/css/Aggrid/Aggrid1.css" rel="stylesheet" />
<link href="~/css/Aggrid/Aggrid2.css" rel="stylesheet" />
<link href="~/css/aggrid/ag-grid.css" rel="stylesheet" />
<link href="~/css/aggrid/ag-theme-alpine.css" rel="stylesheet" />
<script src="~/CommonJS/AgGrid/dist_aggrid_community.js"></script>
<script src="~/CommonJS/AgGrid/aggridCom.min.js"></script>
<script src="~/CommonJS/AgGrid/autotable.umd.min.js"></script>
<script src="~/assets/js/jquery.dataTables.min.js"></script>
<script src="~/CommonJS/AgGrid/jspdf.umd.min.js"></script>
<script src="~/CommonJS/AgGrid/libs.umd.min.js"></script>
<script src="~/CommonJS/GenericAgGrid.js"></script>

@*Ag Grid Scripts End*@


<script src="~/Areas/MaterialManagement/DevScript/ItemStockRpt.js"></script>