
@{
    ViewBag.Title = "ViewIndent";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var pageType = ViewBag.PageType as string;

    var backUrl = pageType == "IndentSCList"
    ? $"/MaterialManagement/Material/IndentShortClose?auth={ViewBag.Auth}"
    : $"/MaterialManagement/Material/IndentIndex?auth={ViewBag.Auth}";
}


    <input type="hidden" value="@ViewBag.IndentId" id="hdnIndentId" />
    <div class="pagetitle gap-bottom d-flex justify-content-between">
        <h1 class="m-0 d-flex align-items-center">
            @*<a href="/MaterialManagement/Material/IndentIndex?auth=@ViewBag.Auth">*@
            <a href="@backUrl">
            <img src="~/assets/images/icons/help/back-icon.png" class="headingicon"></a><span id="pIndentNumber">Create Indents</span>
        </h1>
        <div class="align-self-center">
            <div class="d-flex justify-content-between align-items-center gap-10">
                <a id="btIndentEdit" style="display:none;" href="#" class="btn actionbtn border-r-8" onclick="RedirectToEdit()"><img src="~/assets/images/icons/help/edit-white-icon.png" alt="" class="btn-icon">Edit</a>
                <a id="btnInactive" style="display:none;" href="#" class="btn actionbtn border-r-8" data-toggle="modal" data-target="#deletepopup"><img src="~/assets/images/icons/help/edit-white-icon.png" alt="" class="btn-icon">Inactive</a>

            </div>
        </div>
    </div>



    <div class="row">
        <div class="col-md-6 form-group">
            <div class="card br-none p-0  ">

                <div class="card-header border-top-RL header-active br-none  d-flex justify-content-between ">
                    <h2 class="title-two align-self-center">Raised By</h2>
                    <div class="align-self-center"></div>
                </div>

                <div class="card-body view-form-group">
                    <div class="row">
                        <div class="col-md-4 form-group">
                            <label for="">Name</label>
                            <p id="pRaisedBy"></p>
                        </div>
                        <div class="col-md-4 form-group">
                            <label for="">Department</label>
                            <p id="pRaisedDept"></p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-6 form-group">
            <div class="card br-none p-0  ">

                <div class="card-header border-top-RL header-active br-none  d-flex justify-content-between  ">
                    <h2 class="title-two align-self-center">Primary Document Details</h2>
                    <div class="align-self-center"></div>
                </div>

                <div class="card-body view-form-group">
                    <div class="row">
                        <div class="col-md-4 form-group">
                            <label for="">Document Number</label>
                            <p id="txtDocNo"></p>
                        </div>

                        <div class="col-md-4 form-group">
                            <label for="">Document Date</label>
                            <p id="txtDocDate"></p>
                        </div>

                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-12 form-group">
            <div class="card br-none p-0  ">

                <div class="card-header border-top-RL header-active br-none  d-flex justify-content-between ">
                    <h2 class="title-two align-self-center">Item Information</h2>
                    <div class="align-self-center"></div>
                </div>

                <div class="card-body view-form-group pl-0 pr-0">
                    <div class="table-responsive sticky-responsive">
                        <table id="datatableIndent" class="display  dgntable stickyth   dataTable no-footer radius-0">
                            <thead>
                                <tr>
                                    <th width="80" class="">Item Code</th>
                                    <th width="240">Item Name</th>
                                    <th width="220">Item Description</th>
                                    <th width="60">Quantity</th>
                                    <th width="50">UoM</th>
                                    <th width="100">Required by	</th>
                                    <th  >Comment</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card br-none p-0 h-100">
                <div class="card-header border-top-RL header-active br-none  d-flex justify-content-between ">
					<h2 class="title-two align-self-center">Upload Document</h2>
                    <div class="align-self-center"></div>
                </div>
				<div class="card-body view-form-group">
					<p class="m-0 nofile" id="NoUploadFile1">No Upload</p>
					<div class="section-container fileuploadview  section-container-popup hidden" id="ShowUploadFile1">
						<!--  -->
						<div id="documentImages" class="document-images"></div>
						<!--  -->
					</div>
				</div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card br-none p-0 h-100">
                <div class="card-header border-top-RL header-active br-none  d-flex justify-content-between ">
                    <h2 class="title-two align-self-center">Comment</h2>
                    <div class="align-self-center"></div>
                </div>
                <div class="card-body view-form-group ">
                    <p id="txtComments"></p>
                </div>
            </div>
        </div>


    </div>


<!-- confirmation Modal popup -->
<div class="modal" id="deletepopup">
    <div class="modal-dialog modal-dialog-centered modal-default">
        <div class="modal-content ">

            <!-- Modal body -->
            <div class="modal-body">
                <div class="warningmsg">
                    <img src="~/assets/images/icons/help/warning-icon.svg"
                         class="warningicon">
                    <h6 class="text-center">
                        Inactive <span id="spIndentDocNumber"></span>
                    </h6>
                    <span class="d-block warning-dec">Are you sure you want to Inactive this indent?</span>

                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-lg cancelbtn" data-dismiss="modal">
                    Cancel
                </button>
                <button type="button"
                        class="btn btn-lg actionbtn" onclick="InactiveAction()"
                        data-dismiss="modal">
                    Yes
                </button>
            </div>

        </div>
    </div>
</div>
<script src="~/Areas/MaterialManagement/DevScript/ViewIndent.js"></script>