
@{
    ViewBag.Title = "AddDoerTask";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="pagetitle gap-bottom d-flex justify-content-between">
    <h1 class="m-0 d-flex align-items-center">
        <a href="PcDashboard?auth=@ViewBag.Auth"><img src="/assets/images/icons/help/back-icon.png" class="headingicon"></a>My Checklist<div class="ml-3"></div>
    </h1>
    <div class="align-self-center">
        <div class="d-flex justify-content-between align-items-center gap-10">

        </div>
    </div>
</div>

        <div class="row">
            <div class="col-lg-9">
                
                <div class="row">
                    <input type="hidden" id="hdnTask_transID" />
                    <input type="hidden" id="hdnStatus" />


                    <input type="hidden" id="hdnUploadActualFileName" />
                    <input type="hidden" id="hdnUploadNewFileName" />
                    <input type="hidden" id="hdnUploadFileUrl" />

                    <div class="col-md-12 form-group">
                        <div class="card br-none p-0 ">
                            <div class="card-body view-form-group">
                                <div class="row">
                                    <div class="col-lg-3 hw-575">
                                        <div class="form-group">
                                            <label for="Lead Details" class="form-control-label">Task ID</label>
                                            <input type="text" class="form-control" name="" value="101" disabled placeholder="Enter" id="TaskID">
                                        </div>
                                    </div>


                                    <div class="col-lg-3 hw-575">
                                        <div class="form-group">
                                            <label for="Lead Details" class="form-control-label">Task Date</label>
                                            <input type="text" class="form-control" name="" value="2023-10-20" disabled placeholder="Enter" id="TaskDate">
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label for="Lead Details" class="form-control-label">Task Name<sup class="red-clr">*</sup></label>
                                            <p class="text-p" id="TaskName">MF-ABC</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-12 form-group">
                        <div class="card br-none p-0 ">
                            <div class="card-body view-form-group">
                                <div class="row">

                                    <div class="col-lg-3">
                                        <div class="form-group">
                                            <label for="Lead Details" class="form-control-label">Frequency<sup class="red-clr">*</sup></label>
                                            <select class="form-control" disabled>
                                                <option>Select</option>
                                                <option>Daily</option>
                                                <option>Weekly</option>
                                                <option id="Frequency" selected>Montly</option>
                                                <option>Yearly</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-lg-3">
                                        <div class="form-group">
                                            <label for="Lead Details" class="form-control-label">First Completion Date<sup class="red-clr">*</sup></label>
                                            <input type="text" class="form-control" name="" value="2023-10-20" disabled placeholder="Enter" id="StartDate">
                                        </div>
                                    </div>

                                    <div class="col-lg-3 hw-575">
                                        <div class="form-group">
                                            <label for="Lead Details" class="form-control-label">End Date<sup class="red-clr">*</sup></label>
                                            <input type="text" class="form-control" name="" value="2023-10-20" disabled placeholder="Enter" id="EndDate">
                                        </div>
                                    </div>

                                    <div class="col-lg-3 hw-575">
                                        <div class="form-group">
                                            <label for="Lead Details" class="form-control-label">Task Time <sup class="red-clr">*</sup> </label>
                                            <input type="text" class="form-control" value="09:12" name="" disabled placeholder="Enter" id="TaskTime">
                                        </div>
                                    </div>

                                    <div class="col-lg-3">
                                        <div class="form-group">
                                            <label for="Lead Details" class="form-control-label">Expiry Date<sup class="red-clr">*</sup> </label>
                                            <input type="text" class="form-control" value="2023-10-20" name="" disabled placeholder="Enter" id="ExpDate">
                                        </div>
                                    </div>

                                    @*<div class="col-lg-3">
            <div class="form-group">
                <label for="Lead Details" class="form-control-label">Leverage Applicable <sup class="red-clr">*</sup></label>
                <select class="form-control" disabled>
                    <option>Select</option>
                    <option selected id="isLeverage">Yes</option>
                    <option>No</option>
                </select>
            </div>
        </div>

        <div class="col-sm-3 form-group" id="LeverageDetails">
            <label for="">Day, Hours, Minute</label>
            <p class="text-p"> <span id="Days">2</span> Days<sup class="red-clr">*</sup><span class="spcline">|</span><span id="Hours">2</span> Hrs.<sup class="red-clr">*</sup> <span class="spcline">|</span> <span id="Min">2</span> Min.<sup class="red-clr">*</sup></p>
        </div>*@

                                    <div class="col-lg-3">
                                        <div class="form-group">
                                            <label for="Lead Details" class="form-control-label">Department <sup class="red-clr">*</sup></label>
                                            <select class="form-control" disabled>
                                                <option>Select</option>
                                                <option>Branch 1 </option>
                                                <option id="Department" selected>Branch 2</option>
                                                <option>Branch 3</option>
                                                <option>Branch 4</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="form-group">
                                            <label for="Lead Details" class="form-control-label">Branch  <sup class="red-clr">*</sup></label>
                                            <select class="form-control" disabled>
                                                <option>Select</option>
                                                <option>Deepak Kumar</option>
                                                <option id="Branch" selected>Raj</option>
                                                <option>Rohit Sharma</option>
                                                <option>Amit</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-lg-3">
                                        <div class="form-group">
                                            <label for="Lead Details" class="form-control-label">Doer  <sup class="red-clr">*</sup></label>
                                            <select class="form-control" disabled>
                                                <option>Select</option>
                                                <option>Deepak Kumar</option>
                                                <option id="Doer" selected>Raj</option>
                                                <option>Rohit Sharma</option>
                                                <option>Amit</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-lg-3">
                                        <div class="form-group">
                                            <label for="Lead Details" class="form-control-label">Secondary Doer </label>
                                            <select class="form-control" disabled>
                                                <option>Select</option>
                                                <option>Deepak Kumar</option>
                                                <option>Raj</option>
                                                <option id="SecDoer" selected>Rohit Sharma</option>
                                                <option>Amit</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="form-group">
                                            <label for="Lead Details" class="form-control-label">Process Controller <sup class="red-clr">*</sup></label>
                                            <select class="form-control" disabled>
                                                <option>Select</option>
                                                <option>Deepak Kumar</option>
                                                <option>Raj</option>
                                                <option id="Pc" selected>Rohit Sharma</option>
                                                <option>Amit</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="form-group">
                                            <label for="Lead Details" class="form-control-label">Audit Required <sup class="red-clr">*</sup></label>
                                            <select class="form-control" disabled>
                                                <option>Select</option>

                                                <option>By PC</option>
                                                <option id="isAudit" selected>By Audit Controller</option>
                                                <option>No</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-lg-3">
                                        <div class="form-group" id="Auditor" style="display: none">
                                            <label for="Lead Details" class="form-control-label">Audit Controller <sup class="red-clr">*</sup></label>
                                            <select class="form-control" disabled>
                                                <option>Select</option>
                                                <option id="AuditController" selected>Deepak Kumar</option>
                                                <option>Raj</option>
                                                <option>Rohit Sharma</option>
                                                <option>Amit</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-lg-9">
                                        <div class="form-group">
                                            <label for="Lead Details" class="form-control-label">Escalate To </label>
                                            <p class="text-p" id="email">demo@demo.com, demo1@demo.com</p>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 ">
                                        <div class="form-group">
                                            <label for="Lead Details" class="form-control-label">Escalation  Time (hrs) </label>
                                            <input type="text" id="EscalationTime" class="form-control" value="01:00" disabled name="" placeholder="Enter">
                                        </div>
                                    </div>

                                    <div class="col-lg-3 hw-575 align-self-end">
                                        <div class="form-group">
                                            <label for="Lead Details" class="form-control-label">Reminder Escalation Time (hrs)</label>
                                            <input type="text" id="ReminderTime" class="form-control" value="01:00" disabled name="" placeholder="Enter">
                                        </div>
                                    </div>
                                    <div class="col-lg-3 hw-575 align-self-end">
                                        <div class="form-group">
                                            <label for="Lead Details" class="form-control-label">
                                                Checklist Required<sup class="red-clr">*</sup>
                                            </label>
                                            <select class="form-control sltshow" disabled>
                                                <option>Select</option>
                                                <option id="isCheckList" selected>Yes</option>
                                                <option>No</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-lg-3" id="yesimageupload">
                                        <div class="form-group">
                                            <div class="form-group">
                                                <label for="Lead Details" class="form-control-label">Image Required To Be Uploaded<sup class="red-clr">*</sup></label>
                                                <p class="text-p" id="isImageUpload"></p>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="col-lg-3" id="yesimageshow">
                                        <div class="form-group">
                                            <label>Reference Image</label>
                                            <div class="text-p">
                                                <span onclick="handleFile()">
                                                    <i title="" class="fas fa-eye" data-original-title="View Image"></i> View
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-3" id="yesremark">
                                        <div class="form-group">
                                            <label for="Lead Details" class="form-control-label">
                                                Remarks Required<sup class="red-clr">*</sup>
                                            </label>
                                            <select class="form-control sltshow" disabled>
                                                <option>Select</option>
                                                <option id="isRemark" selected>Yes</option>
                                                <option>No</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-lg-9" id="yesremarkshow">
                                        <div class="form-group">
                                            <label for="Lead Details" class="form-control-label">Remarks </label>
                                            <p class="text-p" id="remark"></p>
                                        </div>
                                    </div>

                                    <div class="col-lg-3">
                                        <div class="form-group">
                                            <label for="Lead Details" class="form-control-label">Planned Score<sup class="red-clr">*</sup> </label>
                                            <input type="text" id="Weightage" class="form-control" value="01:00" disabled name="" placeholder="Enter">
                                        </div>
                                    </div>

                                    <div class="col-lg-3">
                                        <div class="form-group">
                                            <label for="Lead Details" class="form-control-label">Delay</label>
                                            <p class="text-p"> <span id="DDay">2</span> Days<span class="spcline">|</span><span id="DHour">2</span>  Hrs. <span class="spcline">|</span> <span id="DMin">15</span>  Min.</p>
                                        </div>
                                    </div>

                                    <div class="col-lg-3" id="userYesUpload">
                                        <div class="form-group">
                                            <label for="Lead Details" class="form-control-label" id="lblImage">Image Upload (By Doer)</label>
                                            <input type="file" class="form-control" id="userImage" name="" value="" placeholder="Enter">
                                            <span id="spuserImage" class="text-danger field-validation-error" style="display:none;">Hey, You missed this field!!</span>
                                        </div>
                                    </div>

                                    <div class="col-lg-3" id="yesUserimageshow">
                                        <div class="form-group">
                                            <label>Reference Image (Of Doer)</label>
                                            <div class="text-p">
                                                <span onclick="handleUserFile()">
                                                    <i title="" class="fas fa-eye" data-original-title="View Image"></i> View
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-12" id="userRemarkUpload">
                                        <div class="form-group">
                                            <label for="Lead Details" class="form-control-label" id="lblRemark">Remarks Required (By Doer)</label>
                                            <textarea placeholder="Enter" id="userRemarks" class="form-control h-150"></textarea>
                                            <span id="spuserRemarks" class="text-danger field-validation-error" style="display:none;">Hey, You missed this field!!</span>
                                        </div>
                                    </div>



                                </div>
                            </div>
                        </div>
                    </div>







                </div>
                        </div>

                        <div class="col-sm-3">
                            <!--  -->
                            <h6>Follow Up</h6>
                            <div class="row orderstatus-container">
                                <div class="medium-12 columns followscrolling" id="AddPcRemarks">

                                </div>
                            </div>
                            <!--  -->
                        </div>
                    </div>
    

    <div class="row">
        <div class="col-sm-8" id="BindQues">

        </div>
    </div>


<div id="viewimage" class="modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Q1</h4>
                <button type="button" class="close" data-dismiss="modal"><img src="~/assets/images/icons/help/close-icon.png" class="closeicon"></button>

            </div>
            <div class="modal-body">
                <div class="imgprvw">
                    <img id="myImage" src="img/login-img.jpg" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-lg  cancelbtn" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<!--end::Modal-->
@*v--------- iew image model-------------*@
<div id="viewUserimage" class="modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Q1</h4>
                <button type="button" class="close" data-dismiss="modal"><img src="~/assets/images/icons/help/close-icon.png" class="closeicon"></button>

            </div>
            <div class="modal-body">
                <div class="imgprvw">
                    <img id="myUserImage" src="img/login-img.jpg" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-lg  cancelbtn" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
@*--------model close-----------*@
<!-- Modal -->
<div id="reason" class="modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Reason</h4>
                <button type="button" class="close" data-dismiss="modal"><img src="~/assets/images/icons/help/close-icon.png" class="closeicon"></button>

            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="Lead Details" class="form-control-label">Please share the reason for cancellation<sup class="red-clr">*</sup> </label>
                            <textarea placeholder="Enter" class="form-control h-150" id="pcCancel" onchange="handleError(this.id)"></textarea>
                            <span id="sppcCancel" class="text-danger field-validation-error" style="display:none;">Hey, You missed this field!!</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-lg  cancelbtn" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-lg  actionbtn" onclick="SavePcTaskCancellation()"> Submit</button>

            </div>
        </div>

    </div>
</div>
@*<--  Model Follow Up -->*@
<div id="m_scroll_top" class="m-scroll-top">
    <i class="la la-arrow-up"></i>
</div>
<div class="modal fade" id="followup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">

            <input type="hidden" name="_token" value="wc9XEfXwhihSeWJwxFKE68ljvUZPt50BMwGJn1U9">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Follow Up</h5>
                <button type="button" class="close" data-dismiss="modal"><img src="~/assets/images/icons/help/close-icon.png" class="closeicon"></button>
            </div>
            <div class="modal-body p-3">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="Lead Details" class="form-control-label">Remarks <sup class="red-clr">*</sup></label>
                            <textarea placeholder="Enter" class="form-control h-150" id="PcRemarks" onchange="handleError(this.id)"></textarea>
                            <span id="spPcRemarks" class="text-danger field-validation-error" style="display:none;">Hey, You missed this field!!</span>
                        </div>
                    </div>                 


                </div>


            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-lg  cancelbtn" data-dismiss="modal">Close</button>
                <button type="submit" class="btn  btn-lg  actionbtn" onclick="AddPcRemark()">Save</button>

            </div>

        </div>
    </div>
</div>
@*<--  Model Close Up -->*@


<footer class="footer-action-btn ">
    <button type="button" class="btn btn-lg  cancelbtn" data-dismiss="modal" onclick="RedirectPcDashBoardRequest()"> Close</button>
    <button type="button" class="btn btn-lg  cancelbtn" data-toggle="modal" data-target="#reason" id="pcCancelled">Cancel</button>

    <button type="button" class="btn  btn-lg  actionbtn" data-toggle="modal" data-target="#followup">Follow Up</button>
    <button type="button" class="btn  btn-lg  actionbtn" id="saveBtn" onclick="SaveDoerTask()">Done</button>

    <!--  <button type="submit" class="btn btn-primary"><i class="fa fa-floppy-o" aria-hidden="true"></i> Submit</button> -->


</footer>

<script src="~/Areas/ManageDoer/DevScript/AddPcTask.js"></script>

<script>
    var Edit_ID = "@ViewBag.id";
    console.log("Edit Id" + Edit_ID);
</script>
