
@{
    ViewBag.Title = "PCTaskCompleted";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="pagetitle gap-bottom d-flex justify-content-between">
    <h1 class="m-0 d-flex align-items-center">
        <a href="PcDashboard?auth=@ViewBag.Auth"><img src="/assets/images/icons/help/back-icon.png" class="headingicon"></a>My Checklist<div class="ml-3"></div>
    </h1>
    <div class="align-self-center">
        <div class="d-flex justify-content-between align-items-center gap-10">

        </div>
    </div>
</div>


        <div class="row">
            <div class="col-lg-9">
                
                <div class="row">
                    <input type="hidden" id="hdnTask_transID" />
                    <input type="hidden" id="hdnStatus" />

                    <div class="col-md-12 form-group">
                        <div class="card br-none p-0 ">
                            <div class="card-body view-page view-form-group">
                                <div class="row">
                                    <div class="col-lg-2 col-md-3 form-group hw-575">

                                        <label for="Lead Details" class="form-control-label">Task ID</label>
                                        <input type="text" class="form-control" name="" value="101" disabled placeholder="Enter" id="TaskID">

                                    </div>


                                    <div class="col-lg-2 col-md-3 form-group hw-575">

                                        <label for="Lead Details" class="form-control-label">Task Date</label>
                                        <input type="text" class="form-control" name="" value="2023-10-20" disabled placeholder="Enter" id="TaskDate">

                                    </div>
                                    <div class="col-lg-8 col-md-6 form-group hw-575">

                                        <label for="Lead Details" class="form-control-label">Task Name<sup class="red-clr">*</sup></label>
                                        <p id="TaskName">MF-ABC</p>

                                    </div>

                                    <div class="col-lg-2 col-md-3 form-group hw-575">
                                        <div class="form-group">
                                            <label for="Lead Details" class="form-control-label">Frequency<sup class="red-clr">*</sup></label>
                                            <p id="Frequency"></pid="Frequency">
                                        </div>
                                    </div>

                                    <div class="col-lg-2 col-md-3 form-group hw-575">

                                        <label for="Lead Details" class="form-control-label">First Completion Date<sup class="red-clr">*</sup></label>
                                        <input type="text" class="form-control" name="" value="2023-10-20" disabled placeholder="Enter" id="StartDate">

                                    </div>

                                    <div class="col-lg-2 col-md-3 form-group hw-575">

                                        <label for="Lead Details" class="form-control-label">End Date<sup class="red-clr">*</sup></label>
                                        <input type="text" class="form-control" name="" value="2023-10-20" disabled placeholder="Enter" id="EndDate">

                                    </div>

                                    <div class="col-lg-2 col-md-3 form-group hw-575">

                                        <label for="Lead Details" class="form-control-label">Task Time <sup class="red-clr">*</sup> </label>
                                        <input type="text" class="form-control" value="09:12" name="" disabled placeholder="Enter" id="TaskTime">

                                    </div>

                                    <div class="col-lg-2 col-md-3 form-group hw-575">

                                        <label for="Lead Details" class="form-control-label">Expiry Date<sup class="red-clr">*</sup> </label>
                                        <input type="text" class="form-control" value="2023-10-20" name="" disabled placeholder="Enter" id="ExpDate">

                                    </div>

                                    <div class="col-sm-12 form-group">
                                        <hr>
                                    </div>
                                    <div class="col-lg-2 col-md-3 form-group hw-575">
                                        
                                            <label for="Lead Details" class="form-control-label">Department <sup class="red-clr">*</sup></label>
                                            <p id="Department"></p>
                                        
                                    </div>
                                    <div class="col-lg-2 col-md-3 form-group hw-575">
                                        
                                            <label for="Lead Details" class="form-control-label">Branch  <sup class="red-clr">*</sup></label>
                                           <p id="Branch"></p>
                                        
                                    </div>

                                    <div class="col-lg-2 col-md-3 form-group hw-575">
                                        
                                            <label for="Lead Details" class="form-control-label">Doer  <sup class="red-clr">*</sup></label>
                                            <p  id="Doer" ></p>
                                        
                                    </div>

                                    <div class="col-lg-2 col-md-3 form-group hw-575">
                                        
                                            <label for="Lead Details" class="form-control-label">Secondary Doer </label>
                                            <p id="SecDoer"></p>
                                        
                                    </div>
                                    <div class="col-lg-2 col-md-3 form-group hw-575">
                                        
                                            <label for="Lead Details" class="form-control-label">Process Controller <sup class="red-clr">*</sup></label>
                                           <p  id="Pc" ></p>
                                        
                                    </div>
                                    <div class="col-lg-2 col-md-3 form-group hw-575">
                                        
                                            <label for="Lead Details" class="form-control-label">Audit Required <sup class="red-clr">*</sup></label>
                                            <p id="isAudit"></p>
                                        
                                    </div>

                                    <div class="col-lg-2 col-md-3 form-group hw-575" id="Auditor" style="display: none">
                                        
                                            <label for="Lead Details" class="form-control-label">Audit Controller <sup class="red-clr">*</sup></label>
                                            <p id="AuditController"></p>
                                        
                                    </div>

                                    <div class="col-lg-6 col-md-4 form-group hw-575">
                                        
                                            <label for="Lead Details" class="form-control-label">Escalate To </label>
                                            <p  id="email"></p>
                                        
                                    </div>

                                    <div class="col-lg-2 col-md-3 form-group hw-575">
                                        
                                            <label for="Lead Details" class="form-control-label">Escalation  Time (hrs) </label>
                                            <input type="text" id="EscalationTime" class="form-control" value="01:00" disabled name="" placeholder="Enter">
                                        
                                    </div>

                                    <div class="col-lg-2 col-md-3 form-group hw-575 align-self-end">
                                        
                                            <label for="Lead Details" class="form-control-label">Reminder Escalation Time (hrs)</label>
                                            <input type="text" id="ReminderTime" class="form-control" value="01:00" disabled name="" placeholder="Enter">
                                        
                                    </div>
                                    <div class="col-lg-2 col-md-3 form-group hw-575">
                                        
                                            <label for="Lead Details" class="form-control-label">
                                                Checklist Required<sup class="red-clr">*</sup>
                                            </label>
                                           <p  id="isCheckList"></p>
                                        
                                    </div>

                                    <div class="col-lg-2 col-md-3 form-group hw-575" id="yesimageupload">
                                                <label for="Lead Details" class="form-control-label">Image Required<sup class="red-clr">*</sup></label>
                                                <p id="isImageUpload"></p>
                                        
                                    </div>

                                    <div class="col-lg-2 col-md-3 form-group hw-575" id="yesimageshow">
                                        
                                            <label>Reference Image</label>
                                            <p >
                                                <span onclick="handleFile()">
                                                    <img src="/assets/images/icons/help/view-icon.png" alt="" class="icon-xsm"> View
                                                </span>
                                            </p>
                                        
                                    </div>

                                    <div class="col-lg-2 col-md-3 form-group" id="yesremark">
                                        
                                            <label for="Lead Details" class="form-control-label">
                                                Remarks Required<sup class="red-clr">*</sup>
                                            </label>
                                            <p id="isRemark"></p>
                                        
                                    </div>

                                    <div class="col-lg-4 col-md-3 form-group hw-575" id="yesremarkshow">
                                        
                                            <label for="Lead Details" class="form-control-label">Remarks </label>
                                            <p  id="remark"></p>
                                        
                                    </div>

                                    <div class="col-lg-2 col-md-3 form-group hw-575">
                                        
                                            <label for="Lead Details" class="form-control-label">Planned Score<sup class="red-clr">*</sup> </label>
                                            <input type="text" id="Weightage" class="form-control" value="01:00" disabled name="" placeholder="Enter">
                                        
                                    </div>

                                    <div class="col-lg-2 col-md-3 form-group hw-575">
                                        
                                            <label for="Lead Details" class="form-control-label">Delay</label>
                                            <p > <span id="DDay">2</span> Days<span class="spcline">|</span><span id="DHour">2</span>  Hrs. <span class="spcline">|</span> <span id="DMin">15</span>  Min.</p>
                                        
                                    </div>

                                    <div class="col-lg-2 col-md-3 form-group hw-575" id="userYesUpload">
                                        
                                            <label for="Lead Details" class="form-control-label" id="lblImage">Image Upload (By Doer)</label>
                                            <input type="file" class="form-control" id="userImage" name="" value="" placeholder="Enter">
                                            <span id="spuserImage" class="text-danger field-validation-error" style="display:none;">Hey, You missed this field!!</span>
                                        
                                    </div>

                                    <div class="col-lg-2 col-md-3 form-group hw-575" id="yesUserimageshow">
                                        
                                            <label>Reference Image (Of Doer)</label>
                                            <p >
                                                <span onclick="handleUserFile()">
                                                    <img src="/assets/images/icons/help/view-icon.png" alt="" class="icon-xsm"> View
                                                </span>
                                            </p>
                                        
                                    </div>

                                    <div class="col-lg-8 col-md-3 form-group hw-575" id="userRemarkUpload">
                                        
                                            <label for="Lead Details" class="form-control-label" id="lblRemark">Remarks Required (By Doer)</label>
                                            <textarea placeholder="Enter" id="userRemarks" class="form-control "></textarea>
                                            <span id="spuserRemarks" class="text-danger field-validation-error" style="display:none;">Hey, You missed this field!!</span>
                                        
                                    </div>



                                </div>
                            </div>
                        </div>
                    </div>

              


                </div>
            </div>

            <div class="col-sm-3">
                <!--  -->
                <h6>Follow Up</h6>
                <div class="row orderstatus-container">
                    <div class="medium-12 columns followscrolling" id="AddPcRemarks">

                    </div>
                </div>
                <!--  -->
            </div>
        </div>
    

    <div class="row">
        <div class="col-sm-8" id="BindQues">

        </div>
    </div>

<!-- Modal Image-->
<div id="viewimage" class="modal fade" role="dialog">
    <div class="modal-dialog ">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Q1</h4>
                <button type="button" class="close" data-dismiss="modal"><img src="~/assets/images/icons/help/close-icon.png" class="closeicon"></button>

            </div>
            <div class="modal-body">
                <div class="imgprvw">
                    <img id="myImage" src="img/login-img.jpg" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-lg  cancelbtn" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<!--end::Modal-->
@*v--------- iew image model-------------*@
<div id="viewUserimage" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Q1</h4>
                <button type="button" class="close" data-dismiss="modal"><img src="~/assets/images/icons/help/close-icon.png" class="closeicon"></button>

            </div>
            <div class="modal-body">
                <div class="imgprvw">
                    <img id="myUserImage" src="img/login-img.jpg" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-lg  cancelbtn" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
@*--------model close-----------*@




            <footer class="footer-action-btn ">

                <button type="button" class="btn btn-lg  cancelbtn" data-dismiss="modal" onclick="RedirectPcDashBoardRequest()">Close</button>
            </footer>
        

<script src="~/Areas/ManageDoer/DevScript/PcCompletedTask.js"></script>

<script>
    var Edit_ID = "@ViewBag.id";
    console.log("Edit Id" + Edit_ID);
</script>

