
@{
    ViewBag.Title = "AfterPendingMyDelegation";
}

<div class="pagetitle gap-bottom d-flex justify-content-between">
    <h1 class="m-0 d-flex align-items-center">
        <a href="MyDelegation?auth=@ViewBag.Auth"><img src="/assets/images/icons/help/back-icon.png" class="headingicon"></a>Create Delegation<div class="ml-3"></div>
    </h1>
    <div class="align-self-center">
        <div class="d-flex justify-content-between align-items-center gap-10">

        </div>
    </div>
</div>


<div class="row">


    <div class="col-md-12 form-group">
        <div class="card br-none p-0 h-100">



            <div class="card-body view-form-group">
                <div class="row">
                    <div class="col-lg-3 hw-575">
                        <div class="form-group">
                            <label for="" class="form-control-label">Delegation Id</label>
                            <input type="text" class="form-control" id="DelId" value="101" name="" placeholder="Enter" disabled="">
                        </div>
                    </div>

                    <div class="col-lg-3 hw-575">
                        <div class="form-group">
                            <label for="" class="form-control-label">Created On</label>
                            <input type="date" class="form-control" id="DelDate" value="2024-06-15" name="" placeholder="Enter" disabled="">
                        </div>
                    </div>

                    <div class="col-lg-3 hw-575">
                        <div class="form-group">
                            <label for="" class="form-control-label">Created By</label>
                            <input type="text" class="form-control" id="createdby" name="" placeholder="Enter" disabled="">
                        </div>
                    </div>


                    <div class="col-lg-3 hw-575">
                        <div class="form-group">
                            <label for="" class="form-control-label">Delegated By<sup class="red-clr">*</sup></label>
                            <p class="text-p" id="ddlAssignee">Deepak Kumar</p>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="" class="form-control-label">Task Description<sup class="red-clr">*</sup></label>
                            <p class="text-p" id="DelName"></p>
                        </div>
                    </div>


                    <div class="col-lg-3 hw-575 align-self-end">
                        <div class="form-group">
                            <label for="" class="form-control-label">First Completion Date<sup class="red-clr">*</sup></label>
                            <input type="date" class="form-control" id="plandate1" value="dd-mm-yyyy" name="" placeholder="Enter" disabled="">
                        </div>
                    </div>

                    <div class="col-lg-3  hw-575 align-self-end">
                        <div class="form-group">
                            <label for="" class="form-control-label">Second Completion Date</label>
                            <input type="date" class="form-control" id="plandate2" value="dd-mm-yyyy" name="" placeholder="Enter" disabled="">
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="form-group">
                            <label for="" class="form-control-label">Third Completion Date</label>
                            <input type="date" class="form-control" id="plandate3" value="dd-mm-yyyy" name="" placeholder="Enter" disabled="">
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="form-group">
                            <label for="" class="form-control-label">Doer <sup class="red-clr">*</sup></label>
                            <p class="text-p" id="Doer">Raj Sharma</p>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="form-group">
                            <label for="" class="form-control-label">Department</label>
                            <p class="text-p" id="Department">Department 1</p>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="form-group">
                            <label for="" class="form-control-label">Branch <sup class="red-clr">*</sup></label>
                            <p class="text-p" id="ddlBranch">Branch 1</p>
                        </div>
                    </div>



                    <div class="col-lg-3">
                        <div class="form-group">
                            <label for="" class="form-control-label">Planned Score <sup class="red-clr">*</sup></label>
                            <p class="text-p" id="Weightage"> </p>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label for="" class="form-control-label">Approval Authority <sup class="red-clr">*</sup></label>
                            <p class="text-p" id="PC"></p>
                        </div>
                    </div>
                    <div class="col-lg-6 align-self-end ">
                        <div class="form-group">
                            <label for="" class="form-control-label">Escalate To</label>
                            <select class="form-control applyselect" id="EscalateTo" multiple>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3 hw-575 align-self-end">
                        <div class="form-group">
                            <label for="" class="form-control-label">Escalation Time (hrs) </label>
                            <p class="text-p" id="EscalationTime"></p>
                        </div>
                    </div>

                    <div class="col-lg-3 hw-575 align-self-end">
                        <div class="form-group">
                            <label for="" class="form-control-label">
                                Reminder Escalation Time (hrs)
                            </label>
                            <p class="text-p" id="ReminderTime"></p>
                        </div>
                    </div>


                    <div class="col-lg-3 align-self-end">
                        <div class="form-group">
                            <label for="" class="form-control-label ">Image Required To Be Uploaded <sup class="red-clr">*</sup></label>
                            <p class="text-p" id="isImageRequired"></p>
                        </div>
                    </div>



                    <div class="col-lg-3 align-self-end">
                        <div class="form-group ">
                            <label for="" class="form-control-label">Remarks Required <sup class="red-clr">*</sup></label>
                            <p class="text-p" id="isRemarkRequired"></p>
                        </div>
                    </div>

                    <div class="col-lg-3 align-self-end">
                        <div class="form-group ">
                            <label for="" class="form-control-label">EA </label>
                            <p class="text-p" id="EA"></p>
                        </div>
                    </div>

                    <div class="col-lg-12" id="userRemarkUpload" style="display: none;">
                        <div class="form-group">
                            <label for="Lead Details" class="form-control-label" id="lblRemark">Remarks Required<sup class="red-clr">*</sup></label>
                            <textarea placeholder="Enter" id="userRemarks" onchange="HideErrorMessage(this)" class="form-control h-150"></textarea>
                            <span id="spuserRemarks" class="text-danger field-validation-error" style="display:none;">Hey, You missed this field!!</span>
                        </div>
                    </div>




                    <div class="col-lg-12" id="yesupload" style="display:block">
                        <div class="form-group">
                            <label for="Lead Details" class="form-control-label">Reference Upload Image <sup class="red-clr">*</sup> </label>
                            <div class="table-responsive mt-2">
                                <table class="display rstable dgntable dataTable no-footer radius-0 ">
                                    <thead>
                                        <tr>
                                            <th width="100" class="text-center">Sr.No</th>
                                            <th>Reference Image</th>
                                            <th id="imageUpload">User Uploaded Reference Image</th>
                                        </tr>
                                    </thead>
                                    <tbody id="imageBody">
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>


                    @if (ViewBag.isCompleted == 1)
                    {
                        <div class="col-lg-3 align-self-end  align-self-end">
                            <div class="form-group ">
                                <label for="" class="form-control-label">Is this task completion approved?<sup class="red-clr">*</sup></label>
                                <p class="text-p" id="isAudit">Yes</p>
                            </div>
                        </div>

                        <div class="col-lg-12 align-self-end">
                            <div class="form-group ">
                                <label for="" class="form-control-label">Remarks </label>
                                <p class="text-p" id="AuditRemarks">


                                </p>
                            </div>
                        </div>
                    }





                </div>
            </div>
        </div>
    </div>
</div>

             

<footer class="footer-action-btn">

    <a href="MyDelegation?auth=@ViewBag.Auth">
        <button type="button" class="btn btn-lg cancelbtn" data-dismiss="modal"> Close</button>
    </a>

    @if (ViewBag.isAudit == 1)
    {
        <button type="submit" data-toggle="modal" data-target="#verfiy" data-dismiss="modal" class="btn btn-lg actionbtn"> Verify</button>
    }


</footer>

                <!-- View Image Modal -->

                <div id="viewimage" class="modal fade" role="dialog">
                    <div class="modal-dialog modal-dialog-centered">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Preview Image</h4>
                                <button type="button" class="close" data-dismiss="modal"><img src="~/assets/images/icons/help/close-icon.png" class="closeicon"></button>

                            </div>
                            <div class="modal-body">
                                <div class="imgprvw">
                                    <img id="viewMyImage" src="img/login-img.jpg" />
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-lg cancelbtn" data-dismiss="modal">Close</button>
                            </div>
                        </div>

                    </div>
                </div>

                <div id="verfiy" class="modal fade" role="dialog">
                    <div class="modal-dialog modal-dialog-centered">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Verify</h4>
                                <button type="button" class="close" data-dismiss="modal"><img src="~/assets/images/icons/help/close-icon.png" class="closeicon"></button>

                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-lg-12 mb-2">
                                        <h6 class="akstitle">Is this task completion approved?<sup class="red-clr">*</sup> </h6>
                                        <div class="button-wrap">
                                            <input class="hidden yes-radio radio-label" type="radio" name="auditpass" onchange="changeRemark(this.id)" id="audityes">
                                            <label class=" button-label" for="audityes">Yes</label>
                                            <input class="hidden no-radio  radio-label" type="radio" name="auditpass" onchange="changeRemark(this.id)" id="auditno" value="noaudit">
                                            <label class="nobtn button-label" for="auditno">No</label>
                                        </div>
                                        <span id="spaudit" class="text-danger field-validation-error" style="display:none;">Atleast One option must selected!!</span>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label for="Lead Details" id="VerifyRemark" class="form-control-label">Remarks </label>
                                            <textarea placeholder="Enter" id="auditRemark" onchange="HideErrorMesage(this)" class="form-control h-150"></textarea>
                                            <span id="spauditRemark" class="text-danger field-validation-error" style="display:none;">Hey, you miss this field!!</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-lg cancelbtn" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-lg actionbtn" id="auditBtn" onclick="SaveAuditTask()">Submit</button>

                            </div>
                        </div>

                    </div>
                </div>



                <script>
    var Edit_ID = "@ViewBag.id";

    var isCompleted = "@ViewBag.isCompleted";
                </script>



                <script src="~/Areas/ManageDelegation/DevScript/AfterPendingMyDelegation.js"></script>
