@{
    Layout = null;

}
<!DOCTYPE html>


<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">




    <link rel="icon" href="~/assets/images/logo/bo-international-logo.png" type="image/png" sizes="50x50">
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/css/style.css" rel="stylesheet">
    <link href="~/assets/css/icons.css" rel="stylesheet">
    <link href="~/assets/css/responsive.css" rel="stylesheet">
    

    

</head>
<body class="body-center">
    <div class="error-dgn">
        <div class="error-icon">
            <img src="~/assets/images/errorimages/404-image.svg" alt="Page not found images" class="error-img" />
        </div>
        <div class="error-contain">
            <h1 class="title-two">Your User ID has been used to log in from another device.!!</h1>         
            <span>Kinldy contact administration.</span>
            <a href="/Account/Login" class="btn btn-sm  actionbtn">Back to Login</a>
        </div>
    </div>
    @*<script>
        wow = new WOW();
        wow.init();
    </script>*@

</body>
</html>
