/*  */
.gap-10 {
    gap: var(--gap-20);
}

.box {
    padding: var(--gap-10);
    border-radius: var(--radius-12);
    align-items: center;
    justify-self: center;
    background: var(--neutral-white);
    width: 24.4%;
}

.box-img {
    width: var(--width-40);
}

.box-titles {
    width: 100px;
    font-size: var(--font-size-12);
    line-height: 16px;
    width: 100%;
    color: var(--black-medium);
}


.box-number {
    font-size: var(--font-size-14);
    font-weight: 700;
    color: #000;
    width: 220px;
    text-align: right;
}


.box-subtitles {
    font-size: var(--font-size-12);
    line-height: var(--gap-15);
    display: block;
}


.box-one .box {
    padding: var(--gap-10) var(--gap-20);
}


.box-one .box {
    width: 20%;
}



/* Status pr */

.status-steps ul {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
}

    .status-steps ul:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background: #000;
        top: 50%;
        transform: translateY(-50%);
    }

    .status-steps ul li a {
        display: flex;
        border: 1px solid var(--black-medium);
        border-radius: var(--radius-30);
        font-weight: var(--font-weight-700);
        color: var(--black-medium);
        padding: 5px 10px;
        justify-content: center;
        width: 188px;
        background: #fff;
        position: relative;
    }

        .status-steps ul li a:hover {
            text-decoration: none;
        }

    .status-steps ul li.active a {
        background: var(--green-status);
        border-color: var(--green-status);
        flex-wrap: wrap;
        flex-direction: column;
        color: #fff;
        align-items: center;
    }

        .status-steps ul li.active a span {
            font-size: 12px;
            font-weight: 500;
        }
