.body-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-height: 100vh;
}


.error-dgn {
    text-align:center
}

.error-icon {
    margin-bottom:40px
}


.error-contain .title-two {
    font-size: 25px;
    margin-bottom: 20px
}

.error-dgn p {
    font-size: 20px;
    margin-bottom: 10px
}

.error-dgn .actionbtn {
    display: table;
    margin: 20px auto;
    padding: 15px 70px;
}