.tile {
    width: 100%;
    position: relative;
}

#tile-1 .nav-tabs, .tablink {
    position: relative;
    border: none !important;
    border-bottom: 1px solid var(--color-border) !important;
    margin-bottom: var(--gap-10);
    width: 100%;
}

    #tile-1 .nav-tabs li {
        margin: 0px !important;
        flex-grow: 0.1;
        width: 80px !important;
    }

        #tile-1 .nav-tabs li a, .tablink a {
            position: relative;
            color: var(--black-medium);
            font-size: var(--font-size-12);
            border: none !important;
        }

            #tile-1 .nav-tabs a:hover, .tablink a:hover {
                color: var(--primary-color);
                border: none;
            }

#tile-1 .slider {
    display: inline-block;
    width: 30px;
    height: 4px;
    border-radius: var(--gap-8);
    background-color: var(--primary-color);
    position: absolute;
    z-index: 99;
    bottom: 0;
    transition: all .4s linear;
}

#tile-1 .nav-tabs .active {
    background-color: transparent !important;
    border: none !important;
    color: var(--primary-color);
    font-weight: var(--font-weight-700);
}



.slick-dots {
    display: none !important;
}


/* Basic Slider CSS */
.tab-slider {
    position: relative;
    overflow: hidden;
}

.slider {
    position: absolute;
    bottom: 0;
    height: 3px;
    background-color: #007bff;
    transition: all 0.3s ease;
}

.nav-link {
    text-align: center;
    padding: 10px 15px;
    font-size: 1rem;
}


/*  */

.tab-slider-container {
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
    scroll-behavior: smooth;
    position: relative;
}

    .tab-slider-container::-webkit-scrollbar {
        display: none;
    }

.nav-tabs {
    display: inline-flex;
    flex-wrap: nowrap;
}


.nav-arrow {
    position: absolute;
    top: 33%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 999;
    color: #000;
    padding: 5px 10px;
    border-radius: 5px;
}

    .nav-arrow.left, .nav-arrow.right {
        width: 80px;
        padding: 20px 0px;
    }

    .nav-arrow.left {
        left: 0;
        width: auto;
        background: rgb(255, 255, 255);
        background: linear-gradient(270deg, rgba(255, 255, 255, 0) -50%, rgba(247, 248, 252, 1) 100%);
        text-align: left;
    }

    .nav-arrow.right {
        right: 0;
        background: rgb(255,255,255);
        background: linear-gradient(-270deg, rgba(255,255,255,0) 0%, rgba(247,248,252,1) 100%);
        text-align: right;
    }

    .nav-arrow.disabled {
        opacity: 0;
        pointer-events: none;
    }

/*  */
@media screen and (max-width:991px) {
    #tile-1 .nav-tabs li {
        width: 190px !important;
    }
}
