
@{
    ViewBag.Title = "MicrobiologyTest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- page title -->
<div class="pagetitle gap-bottom d-flex justify-content-between">
    <h1 class="m-0 d-flex ">
        Quality Check (FMS001)<div class="ml-2">
            <svg data-toggle="tooltip" title="This page shows list of all the Purchase Orders" width="18" height="18" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_423_173595)"><path d="M10.0001 18.3334C14.6025 18.3334 18.3334 14.6025 18.3334 10.0001C18.3334 5.39771 14.6025 1.66675 10.0001 1.66675C5.39771 1.66675 1.66675 5.39771 1.66675 10.0001C1.66675 14.6025 5.39771 18.3334 10.0001 18.3334Z" stroke="#25282B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path><path d="M10 13.3333V10" stroke="#25282B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path><path d="M10 6.66675H10.0083" stroke="#25282B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path></g><defs><clipPath id="clip0_423_173595"><rect width="20" height="20" fill="white"></rect></clipPath></defs></svg>

        </div>
    </h1>
    <div class="align-self-center heading-action-btn w-100-slt primary-color-slt">

    </div>
</div>
<!--  -->

<div class="secondary-light-bg third-container">
    <div class="row table-filter">
        <div class="col-lg-2 col-md-3 col-sm-3 form-group">
            <label for="role">GRN Number </label>
            <select class="form-control applyselect" id="ddlGRN" onchange="OnchageBindGrid()">
            </select>
        </div>

        <div class="col-lg-2 col-md-3 col-sm-3 form-group">
            <label for="role">Item Name </label>
            <select class="form-control applyselect" id="ddlItem" onchange="OnchageBindGrid()">
            </select>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-3 form-group">
            <label for="role">Supplier (Principle) </label>
            <select class="form-control applyselect" id="ddlSupplier" onchange="OnchageBindGrid()">
            </select>
        </div>

        <div class="col-lg-2 col-md-3 col-sm-3 form-group">
            <label for="role">Item Category </label>
            <select class="form-control applyselect" id="ddlCate" onchange="OnchageBindGrid()">
            </select>
        </div>


        <div class="col-lg-2 col-md-3 col-sm-3 form-group">

            <label for="role">From Date </label>
            <div class="input-group">
                <input type="text" id="txtFromDate" onchange="OnchageBindGrid()" autocomplete="off" class="datepicker form-control" placeholder="DD/MM/YYYY">
                <div class="input-group-append "> <span class="input-group-text bg-white"><img src="~/assets/images/icons/help/calendar-icon.svg" alt=""></span> </div>

            </div>

        </div>

        <div class="col-lg-2 col-md-3 col-sm-3 form-group">

            <label for="role">To Date </label>
            <div class="input-group">
                <input type="text" id="txtToDate" onchange="OnchageBindGrid()" autocomplete="off" class="datepicker form-control" placeholder="DD/MM/YYYY">
                <div class="input-group-append "> <span class="input-group-text bg-white"><img src="~/assets/images/icons/help/calendar-icon.svg" alt=""></span> </div>

            </div>

        </div>




    </div>
    <!--  -->
    <div class="table-responsive">
        <table id="tblQC" class="display rstable  dgntable dataTable no-footer">
            <thead>
                <tr>


                    <th width="80">GRN <span class="d-block">Number</span></th>
                    <th width="70">GRN <span class="d-block">Date</span></th>
                    <th width="100">AR <span class="d-block">Number</span></th>
                    <th width="200">Item Name</th>
                    <th width="100">Item <span class="d-block">Category</span></th>
                    <th width="50">Batch <span class="d-block">Number</span></th>
                    <th width="50">Item <span class="d-block">Qty</span></th>

                    <th width="120">Supplier (Principle)</th>
                    <th width="60">Expiry<span class="d-block">Date</span></th>
                    <th width="150">Task no<br />Task Description</th>
                    <th width="60">Planned <span class="d-block">Date</span></th>
                    <th width="30">Delay <span class="d-block">(Hr)</span></th>
                    <th width="50" class="text-center">Action</th>

                </tr>

            </thead>
            @*<tbody>
                    <tr>

                        <td>GRN25/26-002</td>
                        <td>14/05/2025</td>
                        <td>RM20250001</td>
                        <td>Glycerin	</td>
                        <td>Raw Material</td>
                        <td>#123456</td>
                        <td>1000</td>
                        <td>ABC Enterprises (Godrej)</td>
                        <td>05/06/2025</td>
                        <td class="text-left"><strong class="text-primary">Task 1</strong> <span class="d-block">Enter QC Parameters</span></td>

                        <td>
                            30/08/2024
                        </td>

                        <td>0</td>
                        <td class="text-center">
                            <div class="dropdown">
                                <span class="dropdown-toggle arrow-none" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
                                    <img src="../assets/images/icons/help/more-icon.png" class="icon-md">
                                </span>
                                <div class="dropdown-menu actionmenu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="" data-toggle="modal" data-target="#qctestmapping">Mark Done</a>
                                    <a class="dropdown-item" href="Add-new-sample.html">Print COA</a>


                                </div>
                            </div>
                        </td>
                    </tr>




                </tbody>*@
        </table>
    </div>


    <!--  -->
</div>



<!-- qctestmapping -->
<div class="modal fade drawer right-align" id="qctestmappingMicro" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header side-header justify-content-between d-flex">
                <h2 class="modal-title">Step 3 - Microbiology Test</h2>
                <img src="~/assets/images/icons/help/close-white-icon.png" class="cursor-pointer align-self-center close" data-dismiss="modal" />
            </div>
            <div class="modal-body mb-100">
                <!-- open -->

                <div class="row">
                    <div class="col-sm-4 form-group">
                        <label class="label-light">AR Number</label>
                        <p id="lbArnNumberMicro"></p>
                    </div>
                    <div class="col-sm-4 form-group">
                        <label class="label-light">GRN Date</label>
                        <p id="lbDocDateMicro"></p>
                    </div>
                    <div class="col-sm-4 form-group">
                        <label class="label-light">Batch number</label>
                        <p id="lbBatchNumerMicro"></p>
                    </div>
                    <div class="col-sm-4 form-group">
                        <label class="label-light">Item Name</label>
                        <p id="lbItemNameMicro"></p>
                    </div>
                    <div class="col-sm-4 form-group">
                        <label class="label-light">
                            Item Code
                        </label>
                        <p id="lbItemCodeMicro"></p>
                    </div>
                    <div class="col-sm-4 form-group">
                        <label class="label-light">Vendor Name</label>
                        <p id="lbSuppNameMicro"> </p>
                    </div>
                    <div class="col-sm-12 form-group">
                        <div class="table-responsive sticky-responsive">

                            <table id="dtStockTransferMicro" class="display stickyth     dgntable no-footer radius-0 dataTable itemsinformation" style="table-layout:fixed;">
                                <thead>
                                    <tr>
                                        <th width="150">Test Name</th>
                                        <th width="100">Result Type</th>
                                        <th width="60">Measuring <span class="d-block">Unit</span></th>
                                        <th width="100">Approved Range</th>
                                        <th width="100">Result Value</th>

                                    </tr>
                                </thead>

                            </table>
                        </div>
                    </div>

                    <div class="col-md-5 form-group">
                        <label>Final Result</label>
                        <select id="txtFinalResultMicro" class="form-control applyselect MandateMicro" onchange="HideErrorMessage(this)">
                            <option value="">Select</option>
                            <option value="Pass">Pass</option>
                            <option value="Fail">Fail</option>
                        </select>
                        <span id="sptxtFinalResultMicro" class="text-danger field-validation-error" style="display:none;">Hey, You missed this field!!</span>
                    </div>
                    <div class="col-md-12 form-group">
                        <label>Remarks (Optional)</label>
                        <textarea id="txtRemarkMicro" class="form-control h-120" placeholder="Enter"></textarea>
                        <span id="spRemarkMicro" class="text-danger field-validation-error" style="display:none;">Hey, You missed this field!!</span>
                    </div>


                </div>




            </div>
            <div class="side-footer">
                <button type="button" data-toggle="modal" class="btn btn-lg cancelbtn">Cancel</button>
                <button type="button" class="btn btn-lg actionbtn" onclick="SaveDataMicro()">Submit</button>
            </div>
        </div>
    </div>
</div>


<script src="~/Areas/ManageQualityCheck/DevScript/MicrobiologyTest.js"></script>
<script>
    $('.isMandatory').change(function () {
        if ($(this).is(':checked')) {
            $('.microbiologytests').show();
        } else {
            $('.microbiologytests').hide();
        }
    });

    // Initially hide the div if checkbox is not checked
    if (!$('.isMandatory').is(':checked')) {
        $('.microbiologytests').hide();
    }
</script>