


.paginate_button {
    display: none !important;
}

    .paginate_button.current, .paginate_button.first, .paginate_button.last, .paginate_button.previous, .paginate_button.next {
        display: initial !important;
    }


.datatable-wrapper {
    margin: 20px;
}

.actions-dropdown {
    cursor: pointer;
    color: #555;
}

.dropdown-menu {
    position: absolute;
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    background: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.dropdown-default .dropdown-menu li a {
    padding: 10px !important;
    cursor: pointer;
    display: block;
    width: 100%
}

.dropdown-menu li a:hover {
    background: #f4f4f4;
}

.filter-input {
    width: 100%;
    box-sizing: border-box;
}

.hidecolumn {
    display: none;
}

.dgntable {
    width: 100%;
}

    .dgntable th {
        background: var(--secondary-two-color);
        color: var(--neutral-white);
        font-weight: var(--font-weight-700);
        border: 0px !important;
        border-bottom: 0px !important;
    }


        .dgntable th:last-child {
            border-radius: 0px var(--radius-10) 0px 0px;
        }

        .dgntable th:first-child {
            border-radius: var(--radius-10) 0px 0px 0px;
        }

.filter-input {
    border-radius: var(--radius-8);
    padding: var(--gap-5) var(--gap-8) var(--gap-5) var(--gap-30);
    border: 0px;
}

.searchfilter th {
    padding: 0px var(--gap-20) var(--gap-20) !important;
    border: 0px;
    border-top: 0px !important;
    font-size: 14px;
}


    .searchfilter th:last-child, .searchfilter th:first-child {
        border-radius: 0px;
    }


.dgntable td {
    border: 0px !important;
    line-height: 20px;
    background: var(--td-bg) !important;
}

.dgntable th, .dgntable td {
    padding: var(--gap-7) var(--gap-10) !important;
}

.dgntable .searchfilter th {
    padding-top: var(--zero) !important
}

.searchfilter th {
    padding: 0px var(--gap-10) var(--gap-5) !important
}

.dgntable th, .dgntable td {
    font-size: var(--font-size-14);
}


.dgntable th {
    font-size: var(--font-size-14);
}


.dgntable td {
    font-size: var(--font-size-12);
}
/* 
     table.dataTable.order-column>tbody tr>.sorting_2, table.dataTable.order-column>tbody tr>.sorting_3, table.dataTable.display>tbody tr>.sorting_2, table.dataTable.display>tbody tr>.sorting_3{
        background: var(--td-bg) !important;
    } */


table.dataTable.display > tbody > tr.even > .sorting_1, table.dataTable.order-column.stripe > tbody > tr.even > .sorting_1,
table.dataTable.display > tbody > tr.odd > .sorting_1, table.dataTable.order-column.stripe > tbody > tr.odd > .sorting_1 {
    box-shadow: inset 0 0 0 0px rgba(0, 0, 0, 0.019) !important;
    box-shadow: inset 0 0 0 0px rgba(var(--dt-row-selected), 0.019) !important;
}

.dgntable td, .dgntable th {
    border: 1px solid var(--neutral-white) !important;
}

table.dataTable > thead > tr > th, table.dataTable > thead > tr > td {
    border-top: 0px solid rgba(0, 0, 0, 0.3) !important;
    border-bottom: 0px solid rgba(0, 0, 0, 0.3) !important;
}

.filtersearchincon {
    width: 15px;
    position: absolute;
    top: var(--gap-5);
    left: var(--gap-5);
}

.filterdgn {
    position: relative;
}

    .filterdgn label {
        display: table;
    }

table.dataTable thead > tr > th.sorting:before, table.dataTable thead > tr > th.sorting_asc:before, table.dataTable thead > tr > th.sorting_desc:before, table.dataTable thead > tr > th.sorting_asc_disabled:before, table.dataTable thead > tr > th.sorting_desc_disabled:before, table.dataTable thead > tr > td.sorting:before, table.dataTable thead > tr > td.sorting_asc:before, table.dataTable thead > tr > td.sorting_desc:before, table.dataTable thead > tr > td.sorting_asc_disabled:before, table.dataTable thead > tr > td.sorting_desc_disabled:before {
    bottom: 50%;
    content: "" !important;
    background: url(../../assets/images/icons/help/top-arrow-white-sm.png) no-repeat;
    width: 10px;
    height: 6px;
    position: absolute;
    top: -29px !important;
}


table.dataTable thead > tr > th.sorting:after, table.dataTable thead > tr > th.sorting_asc:after, table.dataTable thead > tr > th.sorting_desc:after, table.dataTable thead > tr > th.sorting_asc_disabled:after, table.dataTable thead > tr > th.sorting_desc_disabled:after, table.dataTable thead > tr > td.sorting:after, table.dataTable thead > tr > td.sorting_asc:after, table.dataTable thead > tr > td.sorting_desc:after, table.dataTable thead > tr > td.sorting_asc_disabled:after, table.dataTable thead > tr > td.sorting_desc_disabled:after {
    content: "" !important;
    position: absolute;
    top: -20px !important;
    background: url(../../assets/images/icons/help/bottom-arrow-white-sm.png) no-repeat;
    width: 16px;
    height: 16px;
    right: 4px !important;
}

table.single-sort thead > tr > th.sorting:before, table.single-sort thead > tr > th.sorting_asc:before, table.single-sort thead > tr > th.sorting_desc:before, table.single-sort thead > tr > th.sorting_asc_disabled:before, table.single-sort thead > tr > th.sorting_desc_disabled:before, table.single-sort thead > tr > td.sorting:before, table.single-sort thead > tr > td.sorting_asc:before, table.dataTable thead > tr > td.sorting_desc:before, table.single-sort thead > tr > td.sorting_asc_disabled:before, table.single-sort thead > tr > td.sorting_desc_disabled:before {
    top: -19px !important;
}

table.single-sort thead > tr > th.sorting:after, table.single-sort thead > tr > th.sorting_asc:after, table.single-sort thead > tr > th.sorting_desc:after, table.single-sort thead > tr > th.sorting_asc_disabled:after, table.single-sort thead > tr > th.sorting_desc_disabled:after, table.single-sort thead > tr > td.sorting:after, table.single-sort thead > tr > td.sorting_asc:after, table.dataTable thead > tr > td.sorting_desc:after, table.single-sort thead > tr > td.sorting_asc_disabled:after, table.single-sort thead > tr > td.sorting_desc_disabled:after {
    top: -11px !important;
}


table.dataTable thead > tr > td.sorting_desc:before, table.dataTable thead > tr > td.sorting_desc:after, table.dataTable thead > tr > td.sorting_asc_disabled:before, table.dataTable thead > tr > td.sorting_asc_disabled:after, table.dataTable thead > tr > td.sorting_desc_disabled:before, table.dataTable thead > tr > td.sorting_desc_disabled:after,
table.dataTable thead > tr > th.sorting:before, table.dataTable thead > tr > th.sorting:after, table.dataTable thead > tr > th.sorting_asc:before, table.dataTable thead > tr > th.sorting_asc:after, table.dataTable thead > tr > th.sorting_desc:before, table.dataTable thead > tr > th.sorting_desc:after, table.dataTable thead > tr > th.sorting_asc_disabled:before, table.dataTable thead > tr > th.sorting_asc_disabled:after, table.dataTable thead > tr > th.sorting_desc_disabled:before, table.dataTable thead > tr > th.sorting_desc_disabled:after, table.dataTable thead > tr > td.sorting:before, table.dataTable thead > tr > td.sorting:after, table.dataTable thead > tr > td.sorting_asc:before, table.dataTable thead > tr > td.sorting_asc:after, table.dataTable thead > tr > td.sorting_desc:before, table.dataTable thead > tr > td.sorting_desc:after, table.dataTable thead > tr > td.sorting_asc_disabled:before, table.dataTable thead > tr > td.sorting_asc_disabled:after, table.dataTable thead > tr > td.sorting_desc_disabled:before, table.dataTable thead > tr > td.sorting_desc_disabled:after {
    opacity: 0.7 !important;
}

table.dataTable thead > tr > th.sorting_asc:before, table.dataTable thead > tr > th.sorting_desc:after, table.dataTable thead > tr > td.sorting_asc:before, table.dataTable thead > tr > td.sorting_desc:after {
    opacity: 1 !important;
}

table.dataTable.stripe > tbody > tr.odd > *, table.dataTable.display > tbody > tr.odd > * {
    box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.023);
    box-shadow: inset 0 0 0 9999px rgba(var(--dt-row-stripe), 0.0000) !important;
}


.dataTables_wrapper .bottom {
    display: flex;
    width: 600px;
    margin: 32px auto 0px;
    gap: var(--gap-50);
    position: relative;
    align-items: center;
}

    .dataTables_wrapper .bottom label {
        color: var(--neutral-black) !important;
        font-size: var(--font-size-12) !important;
        line-height: 18px !important;
        font-weight: normal;
    }

.dataTables_wrapper .dataTables_length select {
    border: 1px solid var(--neutral-black);
    border-radius: var(--radius-8) !important;
    padding: var(--gap-10) var(--gap-15) !important;
    font-size: var(--font-size-16) !important;
}

.dataTables_wrapper .dataTables_paginate {
    background: #fff;
    padding: var(--gap-5) !important;
    border-radius: 8px;
    -webkit-box-shadow: 0px 0px 4px 0px rgb(230 221 221);
    -moz-box-shadow: 0px 0px 4px 0px rgb(230 221 221);
    box-shadow: 0px 0px 4px 0px rgb(230 221 221);
}

.dataTables_wrapper .dataTables_info {
    clear: both;
    float: right;
    padding-top: inherit;
    position: absolute;
    right: -60px;
    top: 5px;
    font-size: var(var(--font-size-12));
}



.dataTables_wrapper .dataTables_paginate .paginate_button {
    border: 0px;
    padding: 0px 5px !important;
}

    .dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
        border: 0px !important;
        background: none !important;
        color: #637381;
        font-size: var(--font-size-12);
    }



    .dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
        color: var(--neutral-black) !important;
    }

/* 
    .datatable-wrapper {
        overflow-x: auto;
        padding: 0px 0px var(--gap-20);
        margin: 0px;
    }
    table#defualt {
        table-layout: fixed;
        width: 100%; 
        min-width: 1400px; 
        border-collapse: collapse; 
    }

     .datatable-wrapper td {
        overflow: hidden; 
        text-overflow: ellipsis; 
        white-space: nowrap; 
        
    }
    */


tr.red-bg td {
    background: var(--status-passed) !important;
}

.bottom .dataTables_paginate img {
    width: 25px;
}

.table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; /* Enable smooth scrolling on mobile devices */
}

.dgntable {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed; /* Ensures columns maintain consistent widths */
}

    .dgntable th,
    .dgntable td {
        text-align: left;
        /* overflow: hidden;
    text-overflow: ellipsis;  */
    }

    .dgntable th {
        white-space: nowrap;
    }

.searchfilter th {
    text-align: left;
    white-space: nowrap;
    overflow: inherit !important;
    text-overflow: ellipsis;
}

.dropdown-menu.show {
    display: block;
    top: 16px !important;
    z-index: 99999;
    width: auto
}

.dropdown-menu li {
    padding: 10px;
    cursor: pointer;
}

.table-wo-search th {
    padding: 10px !important;
}


table.search-wo-s thead > tr > th.sorting:before, table.search-wo-s thead > tr > th.sorting_asc:before, table.search-wo-s thead > tr > th.sorting_desc:before, table.search-wo-s thead > tr > th.sorting_asc_disabled:before, table.search-wo-s thead > tr > th.sorting_desc_disabled:before, table.search-wo-s thead > tr > td.sorting:before, table.search-wo-s thead > tr > td.sorting_asc:before, table.search-wo-s thead > tr > td.sorting_desc:before, table.search-wo-s thead > tr > td.sorting_asc_disabled:before, table.search-wo-s thead > tr > td.sorting_desc_disabled:before {
    top: 10px !important;
}

table.search-wo-s thead > tr > th.sorting:after, table.search-wo-s thead > tr > th.sorting_asc:after, table.search-wo-s thead > tr > th.sorting_desc:after, table.search-wo-s thead > tr > th.sorting_asc_disabled:after, table.search-wo-s thead > tr > th.sorting_desc_disabled:after, table.search-wo-s thead > tr > td.sorting:after, table.search-wo-s thead > tr > td.sorting_asc:after, table.search-wo-s thead > tr > td.sorting_desc:after, table.search-wo-s thead > tr > td.sorting_asc_disabled:after, table.search-wo-s thead > tr > td.sorting_desc_disabled:after {
    content: "" !important;
    position: absolute;
    top: 20px !important;
    background: url(../../assets/images/icons/help/bottom-arrow-white-sm.png) no-repeat;
    width: 16px;
    height: 16px;
    right: 4px !important;
}


/* AG Grid */

.grid-wrapper {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.ag-row {
    z-index: 0;
}

    .ag-row.ag-row-focus {
        z-index: 1;
    }

#myGrid {
    height: 570px;
    width: 100%;
}

.ag-theme-alpine .ag-paging-panel {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    padding: 10px 12px;
    border-top: 1px solid #ccc;
}

.ag-page-size, .ag-page-goto {
    display: flex;
    align-items: center;
    font-size: 14px;
    gap: 6px;
}

    .ag-page-goto input {
        padding: 4px;
        width: 60px;
    }

    .ag-page-goto button {
        background-color: #6f42c1;
        color: white;
        border: none;
        border-radius: 100px;
        padding: 4px 12px;
        font-size: 14px;
        cursor: pointer;
    }

.search-box {
    margin-bottom: 10px;
    text-align: right;
}

    .search-box input {
        padding: 6px 10px;
        font-size: 14px;
        width: 250px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

@media (max-width: 575.98px) {
    .search-box input {
        width: 100%;
    }
}

.actionmenu .dropdown-item {
    font-size: 14px;
}

.icon-md {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.ag-cell {
    overflow: visible !important;
    z-index: 10 !important;
}

.dropdown-menu {
    z-index: 1050 !important;
}

.ag-header-cell.header-center .ag-header-cell-label {
    justify-content: center !important;
    align-items: center !important;
    text-align: center;
}

.td-icon {
    width: 15px
}

.agrid-dgn .ag-root-wrapper.ag-layout-normal {
    height: 100%;
    border: 0px;
    background: none
}

.agrid-dgn .ag-header-container {
    background: var(--secondary-two-color);
    color: var(--neutral-white)
}

.agrid-dgn .ag-header-cell-text, .agrid-dgn .ag-icon-filter, .ag-icon-menu, .ag-icon-asc {
    color: var(--neutral-white) !important
}

.agrid-dgn .ag-header-viewport {
    border-radius: 10px 10px 0px 0px;
}

.agrid-dgn .ag-floating-filter {
    border: 0px !important
}

.agrid-dgn .ag-paging-panel {
    justify-content: end;
    border: 0px;
    background: none !important;
    padding: 0px;
}

.ag-page-size select {
    width: 80px;
}

.ag-paging-page-summary-panel, .ag-page-size select {
    background: var(--neutral-white);
    border: 1px solid var(--grid-select-border) !important;
    padding: 10px 5px;
    border-radius: var(--radius-10);
}

.ag-page-goto input {
    padding: 2px 5px !important;
    width: 45px !important;
}

.ag-page-size, .ag-paging-description, .ag-paging-row-summary-panel, .ag-page-goto, .ag-page-goto button, .ag-page-goto input {
    font-size: 12px;
}

.ag-header-cell-resize:after {
    background: none !important;
}
/* End aggrid */



@media (max-width: 1024px) {
    .rstable tr {
        display: table;
        width: 100%;
    }


    .rstable td {
        display: table-row;
        border: none !important;
        padding: 0px 0px 0px 20px !important;
        font-size: var(--font-size-12) !important;
    }
    /* .rstable td span {
        display: table-cell;
        padding: 0 10px 0 5px;
    } */
    .rstable tr th {
        display: none;
    }

    .rstable td::before {
        content: attr(data-label);
        font-weight: bold;
        display: table-cell;
        text-align: left;
        padding: var(--gap-8);
        white-space: nowrap;
        width: 1px;
        font-family: 'Montserrat';
    }

    .dataTables_wrapper .bottom {
        display: table;
        width: 100%;
    }

    .dataTables_wrapper .dataTables_length {
        width: 100%;
    }

    .dataTables_wrapper .dataTables_info {
        right: 10px;
        top: -37px;
    }

    .dataTables_wrapper .dataTables_paginate {
        width: 50%;
        margin: 0px auto;
    }

    table#defualt {
        table-layout: fixed;
        width: 100%;
        min-width: 100%;
    }

    .rstable tr {
        margin-bottom: var(--gap-10);
    }

    .rstable .icon-md {
        width: var(--gap-15);
    }

    .rstable .td-defualt-center {
        margin: 0px;
        display: table;
    }
}



/* Ensures scroll behavior is applied correctly */
/* Fix width mismatch between header and body */
table.dataTable {
    width: 100% !important;
    table-layout: fixed;
}
/*
    table.dataTable th,
    table.dataTable td {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        vertical-align: middle;
    }*/

/* Ensure scroll containers behave properly */
.dataTables_scrollBody {
    overflow-y: auto !important;
    overflow-x: auto !important;
}

.rstable th {
    padding: 0px 5px !important;
}

.dataTables_scrollHead th {
    padding: 5px !important;
}
