
@{
    ViewBag.Title = "QualityCheck";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- page title -->
<div class="pagetitle gap-bottom d-flex justify-content-between">
    <h1 class="m-0 d-flex ">
        Sampling Process (FMS010)<div class="ml-2">
            <svg data-toggle="tooltip" title="This page shows list of all the Purchase Orders" width="18" height="18" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_423_173595)"><path d="M10.0001 18.3334C14.6025 18.3334 18.3334 14.6025 18.3334 10.0001C18.3334 5.39771 14.6025 1.66675 10.0001 1.66675C5.39771 1.66675 1.66675 5.39771 1.66675 10.0001C1.66675 14.6025 5.39771 18.3334 10.0001 18.3334Z" stroke="#25282B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path><path d="M10 13.3333V10" stroke="#25282B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path><path d="M10 6.66675H10.0083" stroke="#25282B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path></g><defs><clipPath id="clip0_423_173595"><rect width="20" height="20" fill="white"></rect></clipPath></defs></svg>

        </div>
    </h1>
    <div class="align-self-center heading-action-btn w-100-slt primary-color-slt">

    </div>
</div>
<!--  -->

<div class="secondary-light-bg third-container">
    <div class="row table-filter">
        @*<div class="col-lg-2 col-md-3 col-sm-3 form-group">
                <label for="role">Status </label>
                <select class="form-control applyselect">
                    <option>All</option>
                    <option>All</option>
                    <option>Approved</option>
                    <option>Pending</option>
                    <option>Rejected</option>
                </select>
            </div>*@

        <div class="col-lg-2 col-md-3 col-sm-3 form-group">
            <label for="role">Item </label>
            <select class="form-control applyselect" id="ddlItem">
            </select>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-3 form-group">
            <label for="role">Chemist Name </label>
            <select class="form-control applyselect" id="ddlChemist">
            </select>
        </div>

        <div class="col-lg-2 col-md-3 col-sm-3 form-group">
            <label for="role">Customer ID </label>
            <select class="form-control applyselect" id="ddlCustomer">
            </select>
        </div>

        <div class="col-lg-2 col-md-3 col-sm-3 form-group">
            <label for="role">Sample Type </label>
            <select class="form-control applyselect" id="ddlSampleType">
            </select>
        </div>





    </div>
    <!--  -->
    <div class="table-responsive">
        <table id="sampleStep234" class="display rstable dgntable dataTable no-footer">
            <thead>
                <tr>

                    <th width="70">Serial No.</th>
                    <th width="100">Sample Id</th>
                    <th width="80">Created <span class="d-block">On</span></th>
                    <th width="130">Sales <span class="d-block">Person</span></th>
                    <th width="130">Customer <span class="d-block">Name</span></th>
                    <th width="150">Item Name</th>
                    <th width="150">Sample <span class="d-block">Type</span></th>
                    <th width="130">Assigned <span class="d-block">Chemist</span></th>
                    <th width="120">Task No. <span class="d-block">Task Description</span></th>

                    <th width="80">Planned <span class="d-block">Date</span></th>
                    <th width="50">Delay <span class="d-block">(Hr)</span></th>
                    <th width="60">Action</th>

                </tr>

            </thead>
            <tbody>
                <tr>

                    <td>SHL-24-01422</td>
                    <td>07/05/2025</td>
                    <td>Nandan Raikwar</td>
                    <td class="text-center">CUST0015	</td>
                    <td class="text-center">Glycerine</td>
                    <td class="text-center">Standard</td>
                    <td class="text-center">-----</td>
                    <td class="text-left"><strong class="text-primary">Task 1</strong> <span class="d-block">Enter Basic Information</span></td>

                    <td class="text-left">
                        07/05/2025
                    </td>

                    <td class="text-center">----</td>
                    <td class="text-center">
                        <div class="dropdown">
                            <span class="dropdown-toggle arrow-none" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
                                <img src="../../assets/images/icons/help/more-icon.png" class="icon-md">
                            </span>
                            <div class="dropdown-menu actionmenu" aria-labelledby="dropdownMenuButton">

                                <a class="dropdown-item" href="" data-toggle="modal" data-target="#reassign">Reassign</a>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#deletepopup">Cancel</a>
                                <a class="dropdown-item" href="" data-toggle="modal" data-target="#markdone">Mark Done</a>

                            </div>
                        </div>
                    </td>
                </tr>

                <tr>

                    <td>SHL-24-01422</td>
                    <td>07/05/2025</td>
                    <td>Nandan Raikwar</td>
                    <td class="text-center">CUST0015	</td>
                    <td class="text-center">Glycerine</td>
                    <td class="text-center">Oil</td>
                    <td class="text-center">-----</td>
                    <td class="text-left"><strong class="text-primary">Task 1</strong> <span class="d-block">Enter Basic Information</span></td>

                    <td class="text-left">
                        07/05/2025
                    </td>

                    <td class="text-center">----</td>
                    <td class="text-center">
                        <div class="dropdown">
                            <span class="dropdown-toggle arrow-none" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
                                <img src="../../assets/images/icons/help/more-icon.png" class="icon-md">
                            </span>
                            <div class="dropdown-menu actionmenu" aria-labelledby="dropdownMenuButton">

                                <a class="dropdown-item" href="" data-toggle="modal" data-target="#reassign">Reassign</a>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#deletepopup">Cancel</a>
                                <a class="dropdown-item" href="" data-toggle="modal" data-target="#markdone">Mark Done</a>

                            </div>
                        </div>
                    </td>
                </tr>






            </tbody>
        </table>
    </div>


    <!--  -->
</div>



<!-- confirmation Modal popup -->
<div class="modal" id="deletepopup">
    <div class="modal-dialog modal-dialog-centered modal-default">
        <div class="modal-content ">



            <!-- Modal body -->
            <div class="modal-body">
                <div class="warningmsg">
                    <img src="../../assets/images/icons/help/warning-icon.svg" class="warningicon">
                    <h6 class="text-center">Delete SHL-24-01422	 </h6>
                    <span class="d-block">Quality check</span>

                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-lg cancelbtn radius-24" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-lg actionbtn radius-24" data-dismiss="modal">Delete</button>
            </div>

        </div>
    </div>
</div>


<!-- reassign Modal popup -->
<div class="modal" id="reassign">
    <div class="modal-dialog modal-dialog-centered modal-default">
        <div class="modal-content ">



            <!-- Modal body -->
            <div class="modal-body">
                <div class="warningmsg">
                    <img src="../../assets/images/icons/help/warning-icon.svg" class="warningicon">
                    <h6 class="text-center">Reassign Task </h6>
                    <span class="d-block">Are you sure you want this task to get reassigned to someone else?</span>

                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-lg cancelbtn radius-24" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-lg actionbtn radius-24" data-dismiss="modal">Reassign</button>
            </div>

        </div>
    </div>
</div>

<div id="yourModalContainer"></div>


<!-- Mark Done -->

<div class="modal fade drawer right-align" id="markdone" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header side-header justify-content-between d-flex">
                <h2><img src="../../assets/images/icons/help/svg/back-white-arrow.svg" data-dismiss="modal" alt="" class="cursor-pointer">Step 3 - Quality Check</h2>
                <img src="../../assets/images/icons/help/close-white-icon.png" class="cursor-pointer align-self-center close" data-dismiss="modal" />
            </div>
            <div class="modal-body mb-100">
                <!-- open -->
                <div class="row">

                    <div class="col-sm-12 form-group">
                        <p>Please confirm that you have checked all physical parameters of the sample as per client requirements. QC Checklist Verified:</p>
                        <ul class="deault-ul" id="qc_params">
                           
                        </ul>
                    </div>

                    <div class="col-sm-12 form-group mt-3 mb-4">
                        <label class="text-gray mb-0">Chemist Name</label>
                        <p id="Chemist"></p>
                    </div>


                    <div class="col-sm-12 form-group">
                        <div class="toggle-card bg-bgl">
                            <div class="toggle-card-header" id="toggle-info">
                                <h4 class="toggle-card-title">Item Information</h4>
                                <span class="toggle-card-icon"><img src="~/assets/images/icons/help/arrow-down.png" class="icon-sm" alt=""></span>
                            </div>
                            <div class="toggle-containe" id="toggle-info-content">
                                <div class="row">
                                    <div class="col-sm-12 form-group ">
                                        <label class="text-gray mb-0">Item Name</label>
                                        <p id="txtItem"></p>
                                    </div>

                                    <div class="col-sm-12 form-group" id="formView">
                                        <label class="text-gray mb-0">Formulation Category</label>
                                        <p id="txtFormCate"></p>
                                    </div>

                                    <div class="col-sm-12 form-group" id="fragView">
                                        <label class="text-gray mb-0">Fragrance</label>
                                        <p id="txtFragrance"></p>
                                    </div>

                                    <div class="col-sm-12 form-group" id="colorView">
                                        <label class="text-gray mb-0">Colour</label>
                                        <p id="txtColour"></p>
                                    </div>

                                    <div class="col-sm-12 form-group" id="packegingView">
                                        <label class="text-gray mb-0">Packaging Type</label>
                                        <p id="txtPackegingType"></p>
                                    </div>
                                    <div class="col-sm-12 form-group">
                                        <label class="text-gray mb-0">Target Price (₹)</label>
                                        <p id="txtTargetPrice"></p>
                                    </div>


                                    <div class="col-sm-12 form-group" id="viewReq">
                                        <label class="text-gray mb-0">Requirement/Description	</label>
                                        <p id="requirements"></p>
                                    </div>

                                    <div class="col-sm-12 form-group" id="viewMust">
                                        <label class="text-gray mb-0">Must have ingredients</label>
                                        <p id="mustIngredients"></p>
                                    </div>


                                    <div class="col-sm-12 form-group" id="viewMustNot">
                                        <label class="text-gray mb-0">Must not have ingredients</label>
                                        <p id="mustnotingredients"></p>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-sm-12 form-group">
                        <div class="d-flex gap-20 align-items-center flex-wrap">
                            <a href="">View Guidelines / S.O.P</a>
                            <a href="">View Guidelines Video</a>
                        </div>
                    </div>
                </div>

                <div class="side-footer">
                    <button type="button" class="btn btn-lg actionbtn" onclick="SaveBasicInfo()">Confirm</button>
                </div>
                <!-- End -->

            </div>
        </div>
    </div>
</div>
<script>
    Type = 'SAMP3';
</script>
<script src="~/Areas/ManageSample/DevScript/Sample_Step234.js"></script>