
@{
	ViewBag.Title = "Customer PM Inventory";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<input type="hidden" id="hdnCustId" value="@ViewBag.CustId" />
<input type="hidden" id="hdnPAId" value="@ViewBag.PAId" />
<input type="hidden" id="hdnRecordType" value="@ViewBag.RecordType" />

<div class="pagetitle gap-bottom d-flex justify-content-between">
	<h1 class="m-0 d-flex align-items-center">
		<a href="/BusinessPartner/CustomerList?auth=@ViewBag.Auth"><img src="~/assets/images/icons/help/back-icon.png" class="headingicon"></a><span id="compName"></span><div class="ml-3"></div>
	</h1>
	<div class="align-self-center">
		<div class="d-flex justify-content-between align-items-center gap-16">
			@*<a href="edit-create-vendor.html" class="btn mr-2 actionbtn border-r-8" data-toggle="modal" data-target="#additems"><img src="~/assets/images/icons/help/add-white-icon.png" class="btn-icon">Add Item</a>
		<a href="/MaterialManagement/Material/ItemMaster?auth=@ViewBag.Auth&itemId=0" class="btn mr-2 actionbtn border-r-8"><img src="~/assets/images/icons/help/add-white-icon.png" class="btn-icon">Add Item</a>*@
		</div>
	</div>
</div>
<ul class="tablink">
	<li><a href="/BusinessPartner/ViewCustomer?auth=@ViewBag.Auth&id=@ViewBag.CustId&PAId=@ViewBag.PAId&status=2" class="nav-link">Customer Details</a></li>
	<li><a href="/BusinessPartner/CustSOItems?auth=@ViewBag.Auth&id=@ViewBag.CustId&PAId=@ViewBag.PAId" class="nav-link">Sales Order History</a></li>
	<li><a href="/BusinessPartner/CustFinancialLedgers?auth=@ViewBag.Auth&id=@ViewBag.CustId&PAId=@ViewBag.PAId" class="nav-link ">Financial Ledgers</a></li>
	<li><a href="/BusinessPartner/CustSampleRecords?auth=@ViewBag.Auth&id=@ViewBag.CustId&PAId=@ViewBag.PAId" class="nav-link">Sample</a></li>
	<li><a href="/BusinessPartner/CustPMInventory?auth=@ViewBag.Auth&id=@ViewBag.CustId&PAId=@ViewBag.PAId" class="nav-link active">Client PM Inventory</a></li>

</ul>

<div class="table-responsive">

	<div class="col-lg-2 col-md-4 col-sm-4 ml-auto form-group align-self-end">
		<div class="d-flex gap-5 justify-content-end ">
			<a href="#" class="btn border-r-8" data-toggle="tooltip" id="exportExcel" title="Download Excel Report"><img src="~/assets/images/icons/help/filter/download-icon.svg" class="btn-icon m-0"></a>
			<div class="searchbox w-350">

				<div class="search">
					<label class="icon" for="globalSearch"><img src="../../assets/images/icons/help/search-icon.png" class="icon-sm"></label>
					<input type="text" id="globalSearch" class="form-control d-inline-block" placeholder="Global Search...">
				</div>

			</div>
		</div>

	</div>

	<div class="grid-wrapper" style="padding-top: 40px">
		<div id="myGrid" class="ag-theme-alpine agrid-dgn" style="height: 600px"></div>
	</div>

</div>


@*Ag Grid Scripts Start*@
<link href="~/css/Aggrid/Aggrid1.css" rel="stylesheet" />
<link href="~/css/Aggrid/Aggrid2.css" rel="stylesheet" />
<link href="~/css/aggrid/ag-grid.css" rel="stylesheet" />
<link href="~/css/aggrid/ag-theme-alpine.css" rel="stylesheet" />
<script src="~/CommonJS/AgGrid/dist_aggrid_community.js"></script>
<script src="~/CommonJS/AgGrid/aggridCom.min.js"></script>
<script src="~/CommonJS/AgGrid/autotable.umd.min.js"></script>
<script src="~/assets/js/jquery.dataTables.min.js"></script>
<script src="~/CommonJS/AgGrid/jspdf.umd.min.js"></script>
<script src="~/CommonJS/AgGrid/libs.umd.min.js"></script>
<script src="~/assets/js/jquery.dataTables.min.js"></script>
<script src="~/CommonJS/GenericAgGrid.js"></script>
@*Ag Grid Scripts End*@


<script src="~/Areas/BusinessPartner/DevScript/ViewCustomer.js"></script>